[2014-08-14 13:39] 0xc0170 opened #2 "GCC ARM export"
Generic makefile with GCC ARM class.

Provide a syntax for records for all options for compiler, linker (parser).

[2014-08-14 13:41] 0xc0170 opened #3 "IAR export"
Create a class for IAR, define options available and create a new IAR template files.

[2014-08-14 13:45] 0xc0170 opened #4 "Code documentation"
Each method should contain a comment, each "magic" which is in the code base needs a proper documentation, otherwise needs to be rewritten.

This task is to cover all code base.

[2014-08-14 13:50] 0xc0170 opened #5 "uVision - options/flags"
There are limited options available to a user. At least what can be added:
- linker options
- assembly options
- prescript/postscript run

[2014-08-19 21:30] #3 closed, assigned to 0xc0170

[2014-08-19 21:34] #2 closed, assigned to 0xc0170

[2014-08-19 21:37] 0xc0170 opened #7 "uvision - generic template"
uVision generator should have one generic template which can be reused for any target.

[2014-08-21 19:43] #4 closed, assigned to 0xc0170

[2014-08-27 17:36] #7 closed, assigned to 0xc0170

[2014-08-27 17:37] #5 closed, assigned to 0xc0170

[2014-08-28 02:40] 0xc0170 opened #9 "Generic GCC Makefile"
The Makefile should be generic, and adjusted to GCC toolchain (GCC ARM, CodeSourcery, etc).

[2014-08-28 02:42] 0xc0170 opened #10 "IAR flags and mcu definitions"
IAR template should be generic (only one template). There will be needed mcu definitions (special attributes per MCU) to be defined.
Plus all available options should be supported by parser and the template.

[2014-08-28 02:45] 0xc0170 opened #11 "Github wiki pages - initial version"
Create wiki pages on github.

The wiki page should include:
- Getting started guide
- Description of records
- Script files
- How data are parsed
- Description of all templates (how they differ for example)

Goal : Clear, simple and easy to navigate

[2014-08-29 01:36] 0xc0170 opened #12 "Name of project correction in YAML parser"
The name of the project should be used from the projects list file, not needed to be defined again in the project configuration file.

[2014-08-29 18:48] 0xc0170 opened #13 "Target debug/release"
There is not target currently defined. Should records define debug/release configuration?

[2014-08-29 19:13] 0xc0170 opened #14 "tool definition - description and proper placement"
Comment all tool options available for records.

Move the tool specific settings dictionary out from the tool class.

[2014-08-30 09:50] #12 closed, assigned to 0xc0170

[2014-08-30 12:14] sg- opened #17 "Add Linker options just as we have compile options"
This allows to use optimization features such as: http://www.keil.com/support/man/docs/armlink/armlink_pge1362065929730.htm

[2014-08-30 12:15] sg- opened #18 "Add pre-build and post build hooks"
Need to be able to run scripts before and after compilation and linking

[2014-08-30 12:16] sg- opened #19 "Add symbols for .asm or .s files"
Assembly files need symbols too

[2014-08-31 16:48] #14 closed, assigned to 0xc0170

[2014-09-01 19:30] #9 closed, assigned to 0xc0170

[2014-09-08 18:31] 0xc0170 opened #21 "Build script (new feature)"
Request to a new feature, build script which would be an extension to current export script. It would allow  to build generated project.

[2014-09-15 19:10] #11 closed, assigned to 0xc0170

[2014-09-16 07:57] matthewelse opened #22 "Continuous Integration Testing"
I think that it would be fairly useful as a long term goal to have some sort of automated testing on the project generator.

[2014-09-17 20:24] 0xc0170 opened #25 "IAR project does not create any output"
It does build, but no object file is generated. If it is build via builder or in the IDE.

It might be problem with the IAR template file.

[2014-09-18 18:15] 0xc0170 opened #27 "User settings file (git ignore)"
I corrected paths and created the user settings path. I thought there is a trick which would staged the file and then just ignore it, but looks like that trick works only locally.

The only solution which I see, it's to have default settings file and then import users settings. Like in CMSIS-DAP is it and other repositories.
Or force a user to run git update-index --assume-unchanged user_settings.

[2014-09-18 18:20] 0xc0170 opened #28 "CoIDE exporter"
This is a task to add another template and class for exporting. I can't find any information about command line builder for CoIDE, so that one needs to be investigated.

[2014-09-19 06:57] #21 closed, assigned to nobody

[2014-09-20 15:23] #28 closed, assigned to 0xc0170

[2014-09-20 15:39] #18 closed, assigned to nobody

[2014-09-20 15:39] #17 closed, assigned to nobody

[2014-09-20 15:45] #19 closed, assigned to 0xc0170

[2014-09-20 19:19] 0xc0170 opened #30 "Eclipse (Makefile) exporter"
Create Eclipse exporter class , to be able to export project files. Because eclipse xml is not that easy compare to IAR, uvision, I would start with makefile based project and gcc arm plugin. The goal is : makefile for project configuration, eclipse for toolchain and files.

I created a branch https://github.com/0xc0170/project_generator/tree/dev_eclipse_makefile , where I am slowly progressing.

[2014-09-23 06:59] #30 closed, assigned to 0xc0170

[2014-09-23 21:40] #27 closed, assigned to nobody

[2014-09-23 22:14] 0xc0170 opened #33 "Debugger definitions (uVision)"
Debuggers could be predefined as MCUs are.  To show user how to do it, CMSIS-DAP, Jlink and STLink can be firstly implemented.

[2014-09-23 22:16] 0xc0170 opened #34 "Debugger definitions (IAR)"
Debuggers could be predefined for IAR as MCUs are.

To show user how to do it, CMSIS-DAP, Jlink and STLink can be firstly implemented.

[2014-09-23 22:16] 0xc0170 opened #35 "Debugger definitions (CoIDE)"
Debuggers could be predefined for CoIDE as MCUs are.

To show user how to do it, CMSIS-DAP, Jlink and STLink can be firstly defined.

[2014-09-24 22:00] 0xc0170 opened #36 "Generate/build a project to any directory within the root directory"
The default directory stays as it is, but if a user provides the output directory and specific name, it should be able to export it there.

As an example, it should be able to export a project to a structure like this:

examples/blinky
examples/blinky/iar/project.file
examples/blinky/uvision/project.file
examples/blinky/main.cpp

[2014-09-24 22:04] 0xc0170 opened #37 "Default dir for the project generator"
The requirement right now it's to have it in tools/project_generator (2 directories deep from the root). This should be optional.

My proposal is to set it in the user_settings, as an example, by default will be as it now, can be change anytime:

<pre>
PROJECT_ROOT=r'\\..\\..'
</pre>

[2014-09-24 22:16] matthewelse opened #38 "Modular Python Structure"
We can potentially make all of the core in this repository into a proper Python module with a proper setup script etc. this will probably help with testing as currently I have to add the root directory of this repo to Python path in order to import the various classes etc.

[2014-09-25 09:09] 0xc0170 opened #39 "Tools addition - Em:Blocks"
Look at EmBlocks and create an exporter for this tool. They support various toolchains.

The list of features is impressive :  http://www.emblocks.org/web/features

[2014-09-25 19:32] #36 closed, assigned to 0xc0170

[2014-09-25 19:37] #37 closed, assigned to 0xc0170

[2014-09-26 18:42] #25 closed, assigned to nobody

[2015-02-11 23:46] 0xc0170 opened #49 "The main record - projects.yaml"
This main project should be always in the root directory. I would like to add this requirement.

What about some additional details? I am thinking about adding there option for settings paths, to override default paths.

[code]

[2015-02-11 23:49] 0xc0170 commented on #38
This task is now in progress :+1:

[2015-02-12 22:31] 0xc0170 commented on #38
Got a branch, https://github.com/0xc0170/project_generator/tree/dev_packagify. IAR and uVision seems to be fine at the moment

[2015-02-12 22:46] sg- commented on #49
This makes a mess of the program directory as there will be other python tools so may be best to keep in a tools directory

[2015-02-12 22:55] sg- opened #51 "Automagically create yaml files for a given directory"
There should be a command that creates a yaml file for the directory. There could also be standard settings ie: debug, no optimizations, etc. so all developers need to do is edit a file, not create and maintain it.

[2015-02-12 22:55] sg- opened #52 "Eliminate tools specific settings"
https://github.com/0xc0170/project_generator/commit/f204880856437704d507950fa5a4d10ba95bf58e

Somewhere around this commit we used to have a minimal set of options for the yaml files. Then things changed and there are specific options for specific tools and I dont think this is the right approach. I think we should define what the yaml files are capable of and then let the scripts figure out the b

[2015-02-12 22:56] 0xc0170 commented on #49
I'll leave it optional. Either to specify the location of projects.yaml via -f argument, or default one will be in the root directory.

[2015-02-12 23:04] 0xc0170 commented on #52
There are default settings, each tool has own definitions with predefined values. I'll look at them again, to see what is defined by default for all tools. For example https://github.com/0xc0170/project_generator/blob/master/uvision_definitions.py

The approach should be as you described, I just extended specific options to cover all options available for a tool. I prefer also keep it simple , so

[2015-02-12 23:06] 0xc0170 commented on #51
How would you specify which directory? All directories within the path where was project_generator executed ?

[2015-02-12 23:10] 0xc0170 commented on #52
An example what was needed for mbed blinky example:

[code]

if mbed does not require different macros for each tool and that misc settings, there would be just mcu definition.

[2015-02-13 23:01] 0xc0170 commented on #52
To eliminate the mcu definition for a user, we could introduce a board definition.

For the project, there would be board. If board is not present, core and MCU needs to be defined
[code]

This would translate to an MCU and core. We can have this predefined and users can add their boards.

[2015-02-13 23:02] 0xc0170 opened #53 "Implement version (--version)"
As we are getting to a package, it would be beneficial to get version

[code]

[2015-02-13 23:08] 0xc0170 opened #54 "Introduce a keyword "board""
The board which would translate to MCU and CPU core and other details if required by tools.

This can be defined in the yaml file.
[code]

Or via an argument. There are already used arguments (b - build, p - project, -t tool). So what can be defined for board?)

[code]

[2015-02-13 23:08] 0xc0170 commented on #52
Created #54 for board keyword

[2015-02-14 10:28] 0xc0170 commented on #54
This should also allow us to remove "core" which should be deduced from the board or mcu. Core is used for gcc-type tools , therefore it should be handled there that based on the mcu, it would get core.

[2015-02-14 10:58] 0xc0170 commented on #52
I added boards definition to #50. For a project, user defines a board in the record, and this board should be defined in the boards_definition script file, which is a translation dictionary. It translates to a value which an exporter recognizes and finds the proper board definitions (board -> cpu -> cpu definitions for the tool).

The step for using this feature, is to have support for projects bo

[2015-02-14 12:03] matthewelse commented on #52
Board definitions sound good :-) in the project I'm working on I basically
used normal records to define settings for different boards
On Sat, 14 Feb 2015 at 11:58 Martin Kojtal <notifications@github.com> wrote:

[2015-02-14 13:01] 0xc0170 commented on #49
Closed via the #50

[2015-02-14 13:01] #49 closed

[2015-02-14 13:02] 0xc0170 commented on #53
Closed via #50

[2015-02-14 13:02] #53 closed

[2015-02-14 13:03] 0xc0170 commented on #54
Fixed via #50

[2015-02-14 13:03] #54 closed

[2015-02-14 13:03] 0xc0170 commented on #38
Landed !

[2015-02-14 13:03] #38 closed

[2015-02-15 13:52] 0xc0170 commented on #52
@sg- Any other ideas how to improve this? The boards are now on master.

[2015-02-15 13:53] 0xc0170 opened #55 "Update the wiki"
As v0.3 was published, the wiki is outdated - needs update

[2015-02-15 23:08] sg- commented on #52
[code]
Then the project is agnostic to a compiler and the scripts can parse the data fields and try to create files for the requested tool. So only one set of files for a project and its now easier to generate these from a directory of source and the ide is a command line option, not a bunch or settings in the files

[2015-02-15 23:10] sg- commented on #51
'''
project_generator.py -c <path with source>
'''

[2015-02-16 08:18] 0xc0170 commented on #52
From those options , only controls and optimizations are now tool specific. We can find some common options and generalize those. Let's look at those options.

[2015-02-16 08:20] 0xc0170 commented on #51
Looks good, will look at this.

[2015-02-18 17:26] 0xc0170 commented on #55
Wiki is now up to date, with version 0.3 . Board definitions, env settings and corrections made

[2015-02-18 17:26] #55 closed

[2015-02-22 17:54] matthewelse commented on #51
Perhaps we could use argparse's subcommand feature for this sort of thing e.g.

`project_generator start_project xyz` or `project_generator init xyz`

[2015-02-22 17:57] 0xc0170 commented on #51
That init command is a good idea. But how would be the tree transformed to records? One big yaml file with all files in it?

[2015-02-26 21:17] sg- commented on #51
I think yaml per directory inside of /src. Kinda like a submodule would be placed.

[2015-03-05 08:14] aethaniel opened #57 "Atmel Studio exporter, using UUID generation"
Hi Martin,

I'm investigating on bringing an exporter for Atmel Studio but unable to find any hint regarding UUID generation. I certainly miss something.
Do you know an easy way to generate UUIDs and insert the patterns in the template?

example (first lines of workspace file):
[code]

[2015-03-05 08:41] 0xc0170 commented on #57
Hi,

I haven't looked at how the atmel studio project looks like. Therefore I don't know what is the purpose of that UUID there. Can you elaborate more?

I would like to see this supported. I'll install the atmel studio and see what we can do.

[2015-03-05 08:48] 0xc0170 opened #58 "Tool addition - Simplicity studio (Silabs IDE)"
New version of Simplicity studio was announced v3, http://www.silabs.com/products/mcu/Pages/simplicity-studio.aspx

Lets look at the output, and share here what it takes to support it.

The last time I used it, was a project based on makefile, so might be similar to makefile eclipse generator which is already supported.

[2015-03-05 10:32] aethaniel commented on #57
Hi,

I guess it is the same way than others: templates with placeholders for files and GCC/debugger options. The only difference certainly coming from Microsoft Visual Studio seems to be that each 'solution' and 'project' files have a unique ID inside.
Honestly, I did duplicate some projects in the recent past and nothing yelled at me :-D
I didn't test using UUID set to zero, anyway but for sure t

[2015-03-05 16:02] aethaniel commented on #57
by the way, I could do the exporter without taking in consideration the UUID at first.

[2015-03-05 18:49] 0xc0170 commented on #57
Yes, definitely if it's possible to ignore for now, to find out more about generation of UUID

[2015-03-05 20:35] matthewelse commented on #57
I presume that the UUIDs are pretty arbitrary, but if anyone's interested I found this: https://msdn.microsoft.com/en-us/library/ms241442%28v=vs.80%29.aspx from a quick Google search.

[2015-03-05 20:40] aethaniel commented on #57
It seems to be easier than planned:
https://docs.python.org/2/library/uuid.html (from python 2.5 to infinite)

This brings more specific information about GUID as implemented by Microsoft:
http://en.wikipedia.org/wiki/Globally_unique_identifier
One day, they will follow the standards, I hope...

[2015-03-05 20:44] matthewelse commented on #57
Awesome, I clearly didn't spend enough time looking... This should be nice and easy to add

[2015-03-05 20:50] aethaniel commented on #57
let's consider this would be usable:
uuid_string_workspace = str( uuid.uuid5(uuid.RESERVED_MICROSOFT, '0xc0170') );

I'm already working on the template and patch. Let's solve potential issues step by step ;-)

[2015-03-08 12:48] aethaniel commented on #13
+1, yes this is exactly what I'm facing at the moment.
On many cases, there are common definitions at project level and only some appropriate definitions according to targets. This can vary from one tool/IDE to another.

[2015-03-08 12:54] aethaniel commented on #52
hi, it seems to be where I should ask about board definitions :-p
I'm unable to find where to introduce properly these definitions.
https://github.com/0xc0170/project_generator/wiki/Contribution#board-name is not clear/complete about that and going to understand from sources is step 2.
pg mbed examples repo don't show anything also.

Any hint to point on?

Thanks

[2015-03-08 13:02] aethaniel commented on #52
OK, found board definitions inside code: project_generator/exporters/board_definitions.py

Honestly such a database should not be into code but in a separate (yaml?) file which could be superseded/augmented by project local files where pg is run. Modularity and tree file structure may be a plus also to enforce consistency once contributions on this project will grow.

Well, this are my 2cents

[2015-03-09 08:08] 0xc0170 commented on #52
You can create a separate issue with proposal (something like RFC) for the board definitions. Please create a new one, where we can continue the discussion.
The board name is just generalization of MCU type, which is also a python dictionary.

[2015-03-09 08:22] 0xc0170 commented on #13
At the moment, one target is for a project, the default one. We can discuss here how debug/release target can be implemented.

We should probably first simplify the records (somehow eliminate generic tools specific records).

[2015-03-12 21:26] 0xc0170 opened #59 "Remove source dirs path from records"
Remove source dir paths, they are used for makefile only. They can be easily obtain from source files.

[code]

[2015-03-12 22:33] 0xc0170 opened #60 "Add --init to create a project record"
This should work for simple projects like one project for a repository, one linker file with source/header files, libraries.

For projects, where are many various projects within a repository, it would create a record of all files for given directory.

[2015-03-13 10:43] aethaniel commented on #13
This would certainly need to have sub-template (target) to be integrated after process into a main one (project).

[2015-03-13 10:55] 0xc0170 commented on #60
Reference  #51, as that one was request for this task

[2015-03-13 14:41] 0xc0170 commented on #10
I'll need to review what's the status, I believe some options are still missing :/

[2015-03-13 14:45] 0xc0170 commented on #60
[code]

[2015-03-13 19:27] 0xc0170 commented on #60
This is the record generated for simple k20 project using project_generator -i gpio_demo_twrk20d72

[code]

[2015-03-13 23:03] 0xc0170 opened #61 "Set default values for templates"
Project like

[code]

Should be able to export and compile , as least this one for arm gcc. Or even for uvision, although it does not accept .ld files.

[2015-03-13 23:05] matthewelse commented on #61
Why shouldn't this be able to compile?

[2015-03-13 23:06] 0xc0170 commented on #61
It does not at the moment, I am fixing it :-) Like optimization for gcc arm are not set to default value, and probably other missing features

[2015-03-13 23:07] matthewelse commented on #61
Oh sorry I misunderstood what you said - that makes sense

[2015-03-13 23:10] 0xc0170 opened #62 "Target configuration (bin or lib)"
Support configuration for target. Currently everything is set to bin.. We should be able to create a project for a library.

[2015-03-14 07:46] 0xc0170 opened #63 "Workspace support - multiple projects in a workspace"
There's one project, one workspace at the moment. We can support one workspace - multiple projects.

[2015-03-14 08:14] 0xc0170 commented on #60
I'll need to add subparser to have more arguments, to be able to replace the above comment with an actual board
[code]

[2015-03-17 22:50] 0xc0170 commented on #60
We can supports folders for sources, this has the same as above:

[code]

This is init help
[code]

[2015-03-17 22:53] 0xc0170 opened #64 "Add --export command to export a project"
project_generator export options:

[code]

Npt sure about execute, it was build, but that can be easily mistaken with b as board... shall we use full names?

[2015-03-17 22:55] 0xc0170 opened #65 "Add --clean command to clean the exported projects"
This one is a bit tricky, the default dir is generated_project, which can include any variable names inside, or default one. Then the project can be exported anywhere within a project root. Thus gives some flexibility, but harder to get it right when clean :-)

project_generator init --help:
[code]

[2015-03-17 23:03] 0xc0170 opened #66 "Add more debug messages"
I imagine that once something does not go correctly with the project_generator, a user just enables debug messages, to be able tofind out why it fails or behaves incorrectly.

If it's a bug, the report within debug level can be provided in the issue report.

[2015-03-17 23:21] 0xc0170 opened #67 "Board definitions - external location?"
In the #52, it was proposed by @aethaniel , to have board definitions outside of the project_generator. Or at least to be able to pass the yaml record with board definitions for a project, then use that information internally to get the right information.

[code]

This can be expressed in the yaml file, provided externally, and the pg just gets the board. This ticket is to start a discussion how i

[2015-03-17 23:23] 0xc0170 commented on #52
@aethaniel I created a new issue for the board definitions, please provide feedback there.

@sg- I created couple of new issues today, some of those are implemented in the current branch. I might send a new pull request for review and testing , tomorrow

[2015-03-18 18:42] matthewelse commented on #67
I think this would make the most sense as a repo called project_generator_definitions or something like that

[2015-03-18 18:43] matthewelse commented on #66
Is it currently using `logging`, the library built in to Python - this could simplify this issue

[2015-03-18 21:02] aethaniel commented on #67
+1
Indeed, if it is possible it would be great and separate process from generic and global data.

On 18 March 2015 19:42:44 CET, Matthew Else <notifications@github.com> wrote:

--
Envoyé de mon téléphone Android avec K-9 Mail. Excusez la brièveté.

[2015-03-19 18:15] 0xc0170 commented on #67
I believe MCU def should be also then make external, the only tool settings definitions would stay.

The one idea can be a github repository, which can be automatically pulled and parsed , to form a valid python dictionary. Or supplied a path for find this definitions locally, and use those. Let's look at options, and propose a simpleyaml file how it would look like lets say for uvision and how to

[2015-03-19 22:16] 0xc0170 commented on #67
An example of yaml definitions

[code]

[2015-03-19 22:32] matthewelse commented on #67
I think it would make more sense if the repo which contained all of the target definitions had for example:

    |_FRDM_K64F.yaml
    |_LPC1768.yaml
    |_...

so each device (or class of devices) has its own yaml file... this could mean you could potentially have variants of devices which can be based on a different device

[2015-03-19 22:54] aethaniel commented on #67
Be careful not mix devices and boards.

I would see a kind of database organized by silicon vendor with product families and according series.

As it is usual to have common points between series a base common file could be inherited/included by a specific series or part specific definitions file.

Then we would have the board referencing the device it is based on.

This is mainly what Matthew is

[2015-03-19 23:17] 0xc0170 commented on #67
The problem here is mcu name. I decided to follow tools name because each tool names MCU differently (many of MCU are the same but from 10 I have seen, 2 were different, like uvision names it XYZ and IAR XYX). I agree with boards, then we have to find how to name MCU.

[code]

This is not ideal.. I made up the example above, but there are cases when this is true. Each tool has own naming.. So idea

[2015-03-19 23:40] 0xc0170 commented on #67
I am taking freescale as an example , as I had some problems with choosing the right chip in tools :-)

Based on comments above, is this the one we can start with?

[code]

The one who adds a board, defines MCU.. So if I know that I have own board with the same mcu, and want to add different tool, I'll add it to the same file -> mk20dx128xxx5.yaml. If my MCU is not there yet, neither the board, I'

[2015-03-19 23:42] aethaniel commented on #67
Indeed, good point.

I would say the right name is the one provided by the vendor which is the one the user know from datasheet.
Then we can have an alias in device tool yaml.
Be careful that sometimes the name in tool can change, but not the one in DS.

On 20 March 2015 00:17:02 CET, Martin Kojtal <notifications@github.com> wrote:

--
Envoyé de mon téléphone Android avec K-9 Mail. Excusez la briè

[2015-03-20 10:00] matthewelse commented on #67
I like the idea of the aliases in the yaml file, which can include the names for different boards in different toolchains - it sort of solves the problem @0xc0170 and I were talking about.

[2015-03-20 10:52] aethaniel commented on #67
I see the repo already exists for definitions.
Can we begin to populate it a bit and then continue discussing there?

[2015-03-20 10:56] 0xc0170 commented on #67
That's what I am going to do today or during the weekend. I'll start porting what we have covered at the moment, boards like k64f, lpc1768 and others.

I added load command to the #70, so far no implementation, will be added once we agree on definitions structure, so I can write yaml parser for it.

[2015-03-20 23:58] 0xc0170 commented on #51
v0.4 was published. I'll close this as this functionality is there. If any new features regarding init command, any missing bits, we can create a new issue for it. THanks @sg- for reporting and helping with this

[2015-03-20 23:58] #51 closed

[2015-03-20 23:59] 0xc0170 commented on #59
Source paths are not in the yaml files required anymore , starting with v0.4

[2015-03-20 23:59] #59 closed

[2015-03-21 00:00] 0xc0170 commented on #60
Resolved via #70.

[2015-03-21 00:00] #60 closed

[2015-03-21 00:00] matthewelse commented on #66
This issue was fixed by #68

[2015-03-21 00:01] 0xc0170 commented on #64
Resolved via #70

[2015-03-21 00:01] #64 closed

[2015-03-21 00:01] 0xc0170 commented on #65
Resolved via #70

[2015-03-21 00:01] #65 closed

[2015-03-21 00:04] 0xc0170 opened #73 "Update wiki to v0.5"
There were few changes, wiki should reflect them.

[2015-03-21 00:05] matthewelse commented on #67
These are the things I can think of that need doing

- [x] Implement load command
- [ ] Decide on format for device definitions
- [ ] Add board definitions to repository
- [ ] Implement using the downloaded definitions

[2015-03-21 09:30] 0xc0170 opened #74 "Command - shorther version for project_generator"
I hate writing project_generator all the time, too long :neckbeard:... there are couple of options we have

[code]

pg is a module already in the pypi, shall we aim for another?

[2015-03-21 09:40] matthewelse commented on #74
I was starting to get fed up with this too :+1: the only other potential conflict I can see is PostgreSQL but since the kind of engineers using that are unlikely to be using project_generator too I think we'll be fine.

I think for backwards compatibility we should keep the project_generator command line name and just add another one

[2015-03-21 09:41] matthewelse commented on #74
+1 for pgen

[2015-03-21 09:45] 0xc0170 commented on #74
Yes, ah project_generator stays. Just need add a new to the console .

For me +1 to pgen and prgen

[2015-03-21 09:47] matthewelse commented on #74
[code]

[2015-03-24 20:31] 0xc0170 commented on #73
Best will be to wait for v0.5 as commands will get new syntax and definitions are external. I'll update the headline.

[2015-03-24 22:30] 0xc0170 opened #82 "Use sh or other git python modules (pgen update)"
Currently for v0.5, we are using subprocess for pulling the latest mcu definitions. As it does not provide much options, going through pipes and all the other magic to get errors, we should consider module sh or any other available options.

It should rebase to the latest master silently (or might be faster to compare local HEAD and remote HEAD). The master should be available to change.. We suppo

[2015-03-25 22:35] 0xc0170 commented on #67
Almost all features from the above are implemented. One more to come,it should get a new command:

[code]

[2015-03-26 07:00] sg- commented on #52
https://github.com/mbedmicro/FlashAlgo/tree/master/records

Here is a reference of what I'd hope the record files can be as simple as. Would love to use
[code]
To get something like this or the list of directories in common form with generic tool support. tool specific name could change because I'd like to run

[code]
and have all my project files created in ../project_files/<project_name_tool>/<p

[2015-03-26 07:23] 0xc0170 commented on #52
That core support is there, core targets were added recerently. This is now valid target:

[code]

I''ll paste here your template.yaml:

[code]
What is missing for v0.5, is the tool_specific standardization. It is a tough task to do for all tools we support, most probably won't make it to v0.5, but we can start adding its support there.

This requires us to choose which options to start with, come

[2015-03-26 07:27] matthewelse commented on #52
:-( private repositories ¯\_(ツ)_/¯
On Thu, 26 Mar 2015 at 07:23 Martin Kojtal <notifications@github.com> wrote:

[2015-03-26 07:36] 0xc0170 commented on #52
@matthewelse I shared the template, that's all from there ;) read my message above

[2015-03-26 15:35] matthewelse commented on #82
Sh looked like a really good choice, but seems like it's only supported on OSX and Linux, so alternatives are:

- Plumbumb (https://pypi.python.org/pypi/plumbum)
... I can't find any more - I'll edit this if I can find any more

[2015-03-26 15:39] 0xc0170 commented on #82
WE might just go ahead with subprocess as it is, just do more magic there, as I noted. If definitions have local commits -> print a warning for example

[2015-04-01 09:19] 0xc0170 commented on #62
in the #77 , there's already IAR and uvision support for lib/exe . We should add this for makefile.

[2015-04-01 21:20] 0xc0170 commented on #63
Thinking how this can be supported.

projects.yaml file:
[code]

tools like iar, uvision support workspaces. for makefile, we can provide one workspace makefile which includes project makefiles.

[2015-04-01 21:24] sg- commented on #63
Down with workspaces!!!! They should die!

[2015-04-02 07:53] matthewelse commented on #63
@sg-  what are your particular issues with workspaces?

[2015-04-02 18:06] 0xc0170 commented on #74
pgen is available, resolved via #77

[2015-04-02 18:06] #74 closed

[2015-04-02 18:08] 0xc0170 commented on #67
Resolved via #77, look at https://github.com/0xc0170/project_generator_definitions

[2015-04-02 18:08] #67 closed

[2015-04-02 18:09] 0xc0170 commented on #62
Resolved via #77, library/executable is now supported

[2015-04-02 18:09] #62 closed

[2015-04-02 18:13] sg- commented on #63
its a variable that this project solves I think. Let me turn the question around - in what case do IDE specific workspaces make sense to use versus a separate project?

[2015-04-02 20:49] matthewelse commented on #63
fair enough

[2015-04-02 22:01] matthewelse opened #89 "Sublime Text Support"
It should be fairly easy to add Sublime Text project support, using Makefile as a build tool: see here https://www.sublimetext.com/docs/2/projects.html

[2015-04-02 22:07] sg- commented on #89
Started on that but havent had time to put much effort into it. Want to do that + https://github.com/quarnster/SublimeGDB

[2015-04-02 22:20] matthewelse commented on #89
oh ok I've just started it too how much of it have you done?

[2015-04-02 22:22] 0xc0170 commented on #89
+1 for this feature

[2015-04-03 05:00] sg- opened #90 "requirements.txt not part of pypi 0.5 release"
Searching for project-generator>=0.5
Reading https://pypi.python.org/simple/project_generator/
Best match: project-generator 0.5
Downloading https://pypi.python.org/packages/source/p/project_generator/project_generator-0.5.zip#md5=5834faed5887dab70718e8d8f4b20415
Processing project_generator-0.5.zip
Writing c:\users\deskto~1\appdata\local\temp\easy_install-dxynxf\project_generator-0.5\setup.cfg
Ru

[2015-04-03 05:38] 0xc0170 commented on #90
Thanks,  will fix that

[2015-04-03 06:11] #90 closed

[2015-04-03 06:34] 0xc0170 opened #91 "Flashing support"
This idea came to me yesterday. As I was testing sw previously, I was using various tools which could generate a project, build it and flash a target + run the code to get tests outputs from the console.

We have currently pgen export -b which exports and builds. I would like to investigate what we need to add to support flashing the target.

[code]

This would export, build and run the project (l

[2015-04-03 06:38] 0xc0170 opened #92 "Debuggers definitions"
I created issues #33, #34 and #35 for debuggers definitions for various tools. They can be defined in the definitions repository, Each tool has own settings for a debugger (an example CMSIS-DAP).

This will allow user to select a debugger settings.

[code]

pgen export --tool uvision would get required cmsis-dap definitions for uvision and insert it in the project.

[2015-04-03 13:07] aethaniel commented on #63
project1: application
project2: CSP/BSP library
project3: middleware library

-> workspace containing everything ready to be used after pgen

[2015-04-03 16:04] sg- commented on #63
Just saying that pgen can do the same thing using multiple projects and maybe introduce grouping for groups so you can build at once. From your example:
project 1: changes frequently
project 2: rarely changes
project 3: rarely changes
The rarely changes c(s)hould be archive inclusion in the application. Just a few thoughts but i'm sure there are valid uses for them, just not sure how many and if t

[2015-04-03 16:40] sg- commented on #89
https://github.com/0xc0170/project_generator/pull/93

Idea was to use make and make builder in sublimetext and the configure the gdb plugin to use pyOCD and what that becomes!! When done should be RAD!

[2015-04-04 06:20] 0xc0170 commented on #89
dev_sublime branch created, please send PR to this branch for sublime text support.

[2015-04-04 06:33] 0xc0170 opened #94 "Improve list command"
We should be able to provide users a feedback, to list projects available, to list targets. to list tools.

A code example:
[code]

Currently, list is for list projects only.

[2015-04-04 07:57] 0xc0170 commented on #89
Did some fixes, got locally a valid project, which looks like this, might help for reference

[code]

[2015-04-04 08:17] 0xc0170 opened #95 "Export - method to change escape characters in paths before exporting"
Paths are defined in yaml file, plus there's relative path based on where is the project defined.

An example of mixing escape characters (rel_path + path from root)

[code]

A tool should choose what endings it requires, and should update all paths in the project.

[2015-04-04 12:08] 0xc0170 commented on #89
Looking at the template, it's json, which might be easier to produce using python json module, to have syntax correct.

[2015-04-05 06:30] 0xc0170 opened #97 "Tool from another tool and its toolchain (combined tools support)"
We should improve the support for tools which inherit from various other tools. As an example, sublime make gcc arm tool should pick from gcc_arm (-linker + startup), from make_gcc_arm - makefile settings, and from sublime for sublime specific tools. The last one is currently not handled.

This is the code which should be changed to resolve this issue + lines below:
[code]

[2015-04-05 18:52] 0xc0170 commented on #97
I added this to #97, each tool defines a toolchain and other tools which are used.

[code]
toolnames defined other tools used, so for sublime_make_gcc_arm, sublime, make_gcc_arm and gcc_arm will be picked to form a project. This can be scattered to each own tool

[2015-04-06 07:05] 0xc0170 commented on #97
Class ToolsSupported which has this list, the above plus some other data, there were in tool script file (export, build) and in the project were tools "repeated".

[code]

[2015-04-06 08:02] matthewelse commented on #97
Another way I thought about doing this was something like this:

[code]
if this needs to be stored in an array or dictionary, then you could use a decorator like so:
[code]

[2015-04-06 08:48] 0xc0170 commented on #97
It should be as a dic, as there will be other tools which define own projects data. That decorator might be. I'll merge the above solution, we can change it afterwards.

[2015-04-06 10:05] 0xc0170 commented on #95
Resolved via #97. If anyone find a problem with paths, please create a new issue.

[2015-04-06 10:05] #95 closed

[2015-04-06 10:06] 0xc0170 commented on #89
#96 was merged, sublime make gcc arm tool is supported, basic functionality included. I'll close this as support is there.

[2015-04-06 10:06] #89 closed

[2015-04-06 10:10] 0xc0170 opened #98 "Visual studio support"
A good start would be to support visual studio makefile based project.

[2015-04-06 12:46] autopulated commented on #91
This would be awesome. It's basically what valinor is designed to do, so would move that logic out of valinor and into project_generator.

Valinor uses an external build though, so it'd be cool if project_generator would accept a path to an already-built file when doing this.

[2015-04-07 01:42] sg- opened #101 "Common toolchain settings"
I currently have:
[code]
and you can see now much copy and paste would be needed here. I'd like to do something like:
[code]
but doesn't currently seem possible. Maybe I missed a label that does this. It would then make sense to reorganize /generated_projects to be:
[code]

[2015-04-07 18:17] 0xc0170 commented on #101
there's settings section in the projects.yaml which is valid for all projects within a repo. A user can define there paths to tools which are always valid for all projects. If the projects are not changing their settings, they can be defined there (overruled by separate proejct settings anyway).

An example:
[code]

[2015-04-07 18:36] 0xc0170 commented on #66
#102 was merged , which prints project dictionary and mcu definitions when debug logging is set

[2015-04-07 18:36] #66 closed

[2015-04-07 18:42] 0xc0170 commented on #97
@matthewelse I am keeping this open as we can improve this inheritance (=how to define it properly). I merged one round of cleaning

[2015-04-07 22:14] sg- commented on #101
I'd like to see these implemented in yaml files such that the following is valid and target settings can be in a project yaml file. :dancers:
[code]

[2015-04-08 08:28] 0xc0170 commented on #82
I added handling if definitions HEAD is behind origin/master, then debug message is print and they are rebased. The update needs much more work, to process correctly outputs from git to provide some output what has happened.

[2015-04-08 14:44] 0xc0170 opened #103 "Target is_supported - tool should decide if we parse definitions or not"
The code I refer to is https://github.com/0xc0170/project_generator/blob/master/project_generator/targets.py#L58, where the check is if target is supported. This is valid for tools which require mcu definitions like RAM settings and others. But there might be a tool which does not require this , like sublime.

[2015-04-08 14:45] 0xc0170 commented on #103
Currently the problem is with arm_gcc_none_eabi which returns false for all targets (an example)

[2015-04-10 11:39] 0xc0170 opened #105 "Uvision template - linker options"
There are missing some options in the template file

[code]

For example misc.

[2015-04-11 07:50] 0xc0170 opened #107 "Export - option for mirroring sources directory tree"
This feature might be useful for IDE when exporting a project to a workspace.

This means we would copy all files for a project keeping the directory structure, set paths accordingly.

[2015-04-11 09:13] 0xc0170 commented on #105
Fixed via #106

[2015-04-11 09:13] #105 closed

[2015-04-11 09:14] 0xc0170 commented on #103
#104 should fix it, I'll do more testing before closing this

[2015-04-11 14:29] 0xc0170 commented on #101
This is what I came up with

[code]

Settings per projects and tools,

[2015-04-11 18:26] 0xc0170 opened #109 "Pgen - pull latest definitions when exporting"
Looks like it fails to do so, the definitions are not updated to the latest master (automatically)

[2015-04-12 15:21] 0xc0170 commented on #101
Settings is confusing as proposed above.. It would be ideal to do :

[code]
But it's not valid YAML syntax. We can introduce a keyword projects_common, however I am not inclined to this, neither in my proposal above.

This code below does not seem to be the correct way neither, as all keys within projects are valid projects to be exported, not merging tool_settings with the other projects. Firstly

[2015-04-12 15:32] 0xc0170 opened #111 "Change the output structure"
@sg- in #101 proposed a new generated project structure. I can think of one way of doing this:

There was a time when exported projects were organized like generated_projects/tool/name.
We can expand it, provide an option in the projects.yaml, in settings:

[code]

$tool$ - keyword - tool name, $project_name$ - project name as defined in projects.yaml:projects. This would bring a new feature of pg

[2015-04-12 15:32] 0xc0170 commented on #101
I created a new issue for reorganize output dir structure.

[2015-04-13 07:35] 0xc0170 commented on #109
#110 fixed this, fetching origin master

[2015-04-13 07:35] #109 closed

[2015-04-13 07:41] 0xc0170 commented on #101
So far, the simplest way to do this, with the new feature I would like to implement - pgen keywords, we could do this - include projects (a project is a keyword which pgen can understand).

[code]

It's confusing that template is not real project, it's just a group of yaml files which are common for some projects. What about adding modules to main record file, to group yaml files. This will allow

[2015-04-13 15:13] 0xc0170 commented on #101
[code]

[code]

The inclusion of other yaml file would be valid only for the project yaml file. The priority would be:
yaml includes as they are defined, project yaml files (one or many). Means that the top one has the lowest priority.

[2015-04-15 18:29] 0xc0170 commented on #101
Thanks to @matthewelse for referencing YAML features, I found there anchors and references, which provides exactly what we need.

[code]

Create &name anchor, then reference it via *name. I'll send PR supporting this (just one change is required).

[2015-04-15 18:38] #101 closed

[2015-04-15 18:44] 0xc0170 commented on #101
@sg- this got automatically closed. As those common settings are now on master

[2015-04-15 22:31] 0xc0170 opened #115 "Separate command build"
We should be able to build a user project, not only those pgen generates (is part of export command).

Based on the extension we can find out which builder should be run.
[code]

[2015-04-16 08:09] matthewelse commented on #115
:+1:

[2015-04-16 13:27] 0xc0170 opened #116 "The definitions location"
We should fix the definitions location, to follow https://docs.python.org/2/using/unix.html#python-related-paths-and-files

Using prefix() , to get a path like /usr/local/lib/

[2015-04-17 16:02] 0xc0170 commented on #116
I tried it yesterday, was failing to get proper permission in the locations for modules, had to tweak a setup bit to get everything ready. Conclusion, it's fine as it is at the moment, although I experienced one machine with ubuntu which fails to fetch a repo due to permission denied.

[2015-04-18 09:21] 0xc0170 opened #118 "Organization project-generator"
Shall we move all repositories to the organization I created for pgen? This was one of the available options, so it's live: https://github.com/project-generator

There are already few of repostiories,and it will grow :smile_cat:
- pgen
- pgen definitions
- pgen tests
- pgen mbed example

I propose to do this change for v0.6, as it's breaking change, ppl will be required to update.

Suggestions any

[2015-04-18 20:49] matthewelse commented on #118
If you keep all of the repositories open as forks on your github then there's backwards compatibility

[2015-04-18 21:00] 0xc0170 commented on #118
True that ! Will do the next week

[2015-04-19 07:56] 0xc0170 commented on #118
@matthewelse Can you move tests there? Ill update travis to poin to a new loc, will fork it to fix the latest changes in the PR which is open

Pgen org needs a logo :)

[2015-04-19 07:59] 0xc0170 opened #119 "pgen v0.6"
There's a milestone for v0.6 which is similar to what I came with yesterday while being offline.

What we should aim for v0.6?
    - build any project
    - copy sources to exported dir - pgen use by IDE? :)
    - fix definitions from local sources
    - sublime - fix the template to be more generic
    - testing ! please write some :-)
    - debuggers support in records and their definitions for

[2015-04-20 00:29] sg- commented on #119
- generic default settings for all tools
- create project.yaml from any given directory
- add exporter support for Qt Creator

[2015-04-20 08:09] matthewelse commented on #119
* perhaps add support for Visual Studio?

[2015-04-20 21:12] 0xc0170 commented on #73
I updated wiki to the latest pgen, although it's not complete. I'll create a new issues to track required changes. closing this.

[2015-04-20 21:12] #73 closed

[2015-04-20 21:12] #103 closed

[2015-04-20 21:14] 0xc0170 commented on #111
It's on master, new patch version will be released soon.

Keywords are currently only available for this output_dir. I expect this will be expanded by time.

[2015-04-20 21:14] #111 closed

[2015-04-20 21:49] matthewelse commented on #119
* Add shell completion (like ARMmbed/yotta#222) using https://github.com/kislyuk/argcomplete

[2015-04-21 14:37] sg- commented on #119
I wanted to add some extra weight to:
- build any project, build all projects for a toolchain

[2015-04-21 16:13] #97 closed

[2015-04-21 16:19] 0xc0170 commented on #118
definitions and mbed example moved, pgen will follow soon with updates to all references.

[2015-04-21 18:03] 0xc0170 commented on #118
All repo were moved, project-generator donE !

[2015-04-21 18:03] #118 closed

[2015-04-22 12:27] aethaniel commented on #107
+1
As described this feature must be an option and not the normal behavior ;-)

[2015-04-24 18:00] 0xc0170 commented on #119
I created dev_v0.6 branch for development. On master - only bugfixes for v0.5, anything new, please send it to dev_v0.6 version. Thanks, and lets start developing new minor version.

[2015-04-25 07:37] 0xc0170 opened #121 "Init command - missing collecting compilied obj and libraries"
The structure:
[code]

[2015-04-25 07:39] 0xc0170 opened #122 "Project - collect libraries and objects"
For libraries - currently only .lib is supported

For objects - only .obj

We should expand and accept more extensions for these 2 types

[2015-04-25 07:40] 0xc0170 commented on #119
Guys, thanks for your inputs ! Can you check if all of yours have an issue created? There's milestone v0.6, which we can assign to all these and track the progress. Thanks

[2015-04-26 08:17] 0xc0170 commented on #107
this should be resolved via #120, landed to dev_v0.6

[2015-04-28 19:27] 0xc0170 opened #124 "Project - build directory keyword in records"
There's predefined build directory for each tool template.

We should provide an option to change it.

[code]

And the templates should be updated. The default one will be build.

[2015-04-28 19:28] 0xc0170 commented on #107
Ah, reopen, will be closed once v0.6 branch will be merged to master.

[2015-05-03 10:19] 0xc0170 commented on #124
dev_v0.6 has this feature implemented, commit f8dea7db94b0e6

This will be closed once dev_v0.6 gets merged to master

[2015-05-03 10:20] 0xc0170 commented on #115
#125 fixes this, available on dev_v0.6 branch.

[2015-05-03 10:21] 0xc0170 commented on #91
#126 - initial version for flashing support, landed to dev_v0.6.

[2015-05-03 10:34] 0xc0170 opened #128 "Autocompletition for pgen commands"
As @matthewelse proposed for v0.6:

Add shell completion using https://github.com/kislyuk/argcomplete

[2015-05-03 10:36] 0xc0170 opened #129 "Tool addition - Qt Creator"
Add exporter + template for Qt creator. Please discuss it here, or track a progress

[2015-05-03 10:38] 0xc0170 commented on #119
I created issues for all proposal here, please check it here : https://github.com/project-generator/project_generator/milestones/v0.6

[2015-05-03 10:38] matthewelse commented on #128
I'll have a look at this this afternoon

[2015-05-03 10:45] 0xc0170 opened #130 "A project defines tools supported"
An optional but probably nice-to-have keyword for records.

To be able to use: pgen export -f projects.yaml - build all projects with all tools which are supported by this repo or by pgen (if tools_supported is not defined, pgen will start building all projects with all tools which are supported - this is probably not often a case, as we are growing quite a number of tools ,and new tools soon will

[2015-05-03 11:00] 0xc0170 opened #131 "Error reporting - more user friendly"
Currently any failure prints traceback, which hides an error for a user. I would like to change that to:

Logging debug - print error message along with the traceback
Default (info logging level) - only error message printed

[2015-05-03 21:46] matthewelse commented on #128
There seems to be a problem using argcomplete on OS X I'll try it on Ubuntu and see what happens...

[2015-05-04 20:34] 0xc0170 opened #133 "Builder - generate the build info"
To parse the output from the tools, and report for example - warnings, failures. For debug, full output should be supported.

[2015-05-13 15:15] 0xc0170 opened #136 "Source_paths legacy removal"
They are used by some tools but automatically generated from the sources, therefore we should remove them from yaml parsing.

[2015-05-21 16:19] 0xc0170 opened #139 "Source and include paths - name correction"
The yaml parser got a bit more logic inside, thus I believe we can unify the sources and include paths

[code]

will be

[code]

[2015-05-21 16:25] 0xc0170 opened #140 "Project - scrape_dir - additional arguments"
The current scape dir does all the logic, scans and finds all valid files to form a yaml file. I would like to change this to split this into 2.
- scan function which can accept extension list and match keywords list, returns a dictionary
- create_yaml - instead of scrape_dir, will invoke scan function with all required data

It should allow us to scan a directory, return dictionary which some ext

[2015-05-21 16:27] 0xc0170 opened #141 "Init - error in source_files_obj"
Init command creates not valid yaml file, this is from one example I tested today:

[code]

Another issue is that directory was given,  and somehow another directory was added.

[2015-05-27 13:36] #116 closed

[2015-05-27 20:01] 0xc0170 commented on #92
I started working on this feature. I have done uvision support for cmsis-dap and jlink today.

Once I get more tools and debuggers supported, I'll send PR.

[2015-05-27 20:01] 0xc0170 commented on #92
For reference, this one is the branch I am using for this task: https://github.com/0xc0170/project_generator/tree/dev_debuggers_defitinions

[2015-05-29 15:56] sarahmarshy opened #146 "Export function needs .yaml files in project section"
Would like to have the option to replace .yaml files with the attributes that they eventually reference

Example:

projects:
    kl25z_blinky:
        - records/kl25z_cmsis.yaml
        - records/kl25z_target.yaml
        - records/kl25z_blinky.yaml

Instead of needing to open  - records/kl25z_blinky.yaml

Should be able to replace that with contents of  -records/kl25z_blinky.yaml

[2015-05-29 16:07] 0xc0170 opened #147 "ARMNoneEABIGDBExporter class - port"
it's predefined now to 3333 which is true for pyOCD but not for others , like jlink gdb server. We should fix this, to enable other gdb tools.

[2015-05-29 18:46] sg- commented on #13
My thoughts for simplicity sake is that the yaml descriptions should be configured for a release and while developing people should edit the project files as and when needed.

[2015-05-29 23:19] 0xc0170 commented on #92
Merged to dev_v0.6, please test :-)

[2015-05-30 19:20] 0xc0170 commented on #146
What would be the use for this feature? How it would be invoked ?

[2015-05-31 19:15] 0xc0170 opened #149 "Tools project parser"
What I am considering is to create a parser for tools projects (uvision, iar, coide, etc). Note: a parser would be for those templates which have predefined syntax, not a user makefile for example

Usage: A user would open ide of their choice, create a new project (or use already working project), place it somewhere within a repo, add its path to project or projects (global or per project). This p

[2015-06-01 10:03] sg- commented on #149
I think this would be useful for people adding support for new chips but if the targets were well defined the devs should only have to run a cmd line to create the proper files:
[code]
for iar only or
[code]
for all supported ide

[2015-06-01 10:12] 0xc0170 commented on #149
Ah yes, another use would be for mcu, fair point!
What would be the use ? For the project settings, template to use. But for the new chip addition, create a mcu yaml file ,which then can be sent to definitions as a new addition? Something to think about.

[2015-06-01 21:06] 0xc0170 commented on #149
At the moment, got some basic template parsing for uvision, my branch is https://github.com/0xc0170/project_generator/tree/dev_project_parser

As I am testing it with mbed example repo, I defined this in the projects.yaml:
[code]
Created template.uvproj, and settings from this proejct should be used. Needs more testing, further parsing and refactoring of templates :-)

[2015-06-02 16:01] 0xc0170 opened #150 "Templates - iar, uvision and coide needs some refactoring"
As those xml are not that easy to go through the templates are not that correct, the dictionaries do not reflect the syntax used there.

For example IAR has 9 main attributes - General, ICCARM, AARM , ... . We should refactor those templates. I came across this while writing that parser and can finally see nicely the xml in the python dictionary.

A note - we will need to dig into wiki after all r

[2015-06-02 17:56] sg- commented on #150
Agree - Need to either spend time really defining the templates or only one breaking change to them per minor release :+1:

[2015-06-02 18:15] 0xc0170 commented on #150
Once I parse all of them, I'll get better view of the xml structure for each of them, will create a tickets  with the proposed misc structure which will be turn into the documentation.

[2015-06-06 10:42] 0xc0170 opened #152 "Tool specific misc option - refactoring"
Connected to #150, and #149 . The parsing helps to understand the xml format of tools better which will lead to unification of misc options.

An example what I have at the moment for IAR and uVision.

[code]

and uvision:

[code]

The result should be that these misc options are as close as to the xml format as possible. This will be another v0.6 breaking change, but if we do it right, should stay

[2015-06-09 07:03] 0xc0170 opened #153 "Virtual dir (group_name) consolidate"
This might help to implement #146, the key can be only once, the code illustrates the problem:

[code]
For all sources, only  one virtual dir. It would probably be bettter to group sources:

[code]

[2015-06-09 07:12] 0xc0170 opened #154 "MCU parser"
Once we consolidate tool parsers and its misc dictionaries (#149), we should create a mcu parser, so anyone can just provide a project, pgen would get the required info from it for specified MCU and store it to the definitions.

Something like:
[code]

A user would pull definitions and then commit the changes once tested. This would be the manual step for now.

Btw, we need to unify the format of

[2015-06-10 08:25] 0xc0170 opened #155 "Obj or lib sources"
I have consolidated sources recently for v0.6, and now thinking what we can do with

- source_files_obj
- source_files_lib

We probably can't make all into sources, as some libs might be without extension (although do we support  that?). I propose 3 solutions

1. All in sources - object files, libraries, source files (requires to fill proper extensions for us to group internally)
2. source_files_o

[2015-06-10 17:48] 0xc0170 commented on #94
If we can get info from projects , we could expand above - if project file is defined , read that and provide a list from the projects file, otherwise provide info from pgen.

what do you think?

[2015-06-11 13:53] sg- commented on #155
+1 I think all should be in sources

[2015-06-15 22:54] sarahmarshy commented on #155
My latest commit puts all in sources

[2015-06-16 14:45] sarahmarshy commented on #94
This is implemented.
#prints all projects
pgen list / pgen list projects
#prints all available tools
pgen list tools
#prints tools in specifiec project file
pgen list tools -f your_project_file.yaml
#prints all available targets
pgen list targets
#prints targets in specifiec project file
pgen list targets -f your_project_file.yaml

[2015-06-16 14:46] sarahmarshy commented on #155
Removed "group_name" section in yaml

[2015-06-16 16:19] sg- commented on #155
+1

[2015-06-16 17:15] sarahmarshy opened #158 "Generate_dict_for_tool function in projects.py"
I would like to eliminate this functon, as it can be done when we are parsing the projects file.

[2015-06-17 15:55] matthewelse commented on #158
@sarahmarshy this is how it was done before I refactored the code into a Project class. I think that, in fact a better way of dealing with this issue is by using instances of the project class in the template exporter code instead of passing round dictionaries.

Since some of the data has to be formatted (e.g. putting all of the c++ source files into one list), this can be implemented as a method

[2015-06-17 21:36] 0xc0170 opened #160 "Replace jinja2 templates by project templates"
Relates to #149, as pgen will get project parsing support (a user provides own project aka template), most of jinja2 templates should be replaced by exporter dictionaries.

Each exporter will have a dictinary which is 1:1 mapping to the project files (pgen export with this dictionary should create a valid project even if no yaml files are provided). This dictionary will be adjusted to the user's i

[2015-06-17 21:42] sg- commented on #160
no more v0.6!!! Need a release :D

[2015-06-18 06:54] 0xc0170 commented on #160
@sg- Doing what I can to complete v0.6 ! I find this as the most important change which should happen as soon as possible :-) We need contribution to other IDE, this issue is important.

I am away for the next week, hope to complete it this week :smile:

[2015-06-18 07:08] 0xc0170 opened #161 "Parse a project file to create a project yaml file"
Just a thought, but with the latest changes for v0.6, the exporter knows the structure of the tool projects. Therefore it can be possible to supply projects files, pgen could create a valid yaml project file. Means otherway around - from project files to pgen YAML. Currently we do from pgen YAML to  project files.

As an example - got uvision project in my repository which compiles, I would like t

[2015-06-18 11:23] matthewelse commented on #161
I think that the following syntax would possibly make more sense:
[code]

[2015-06-18 12:03] 0xc0170 commented on #161
We need to unify create/import. So far, we got creating yaml files from a repository, this will add creating yaml file from a project, then we will have create yaml target definition from a project file. All these 3 are about creating yaml files. Thus I stayed with create

We have only pgen init - to create yaml file from a repository. I am proposing to unify all these 3.

[code]

With import, we

[2015-06-18 12:05] 0xc0170 commented on #161
In favor of don't do breaking changes that often, we could unify this create/import/init for v0.6 :-)

[2015-06-21 13:23] 0xc0170 commented on #160
OK, looks like coide for now is using jinja2 template but project parser is there in place, jinja2 was modified to enable 1:1 mapping. Was merged, so this should be fixed for v0.6

[2015-06-21 13:23] #160 closed

[2015-06-21 13:24] #155 closed

[2015-06-21 13:30] 0xc0170 commented on #149
#156 - merged, this is now resolved.

To specify a template for projects:
[code]

for a project:

[code]

[2015-06-21 13:30] #149 closed

[2015-06-21 13:31] 0xc0170 commented on #150
Solved via #156.

Refactors. uvision and iar are not using jinja2 templates, will be removed later. coide stays with jinja2 for now, was not able to generate valid project. They dont report much errors, just error so hard for a user to find out what is wrong with a project. Not to mention their 2.0 beta version adds new options.

[2015-06-21 13:31] #150 closed

[2015-06-21 13:32] 0xc0170 commented on #146
@sarahmarshy is this resolved?

[2015-06-21 13:32] #141 closed

[2015-06-21 13:33] 0xc0170 commented on #136
Resolved in #156

[2015-06-21 13:33] #136 closed

[2015-06-21 13:33] #130 closed

[2015-06-21 13:33] #139 closed

[2015-06-21 13:36] 0xc0170 commented on #22
@sarahmashy, @matthewelse - something we should start doing soon ! AS now we unified a lot of things for 0.6, tests should be written to verify they work as we intend to :)

[2015-06-21 13:38] 0xc0170 commented on #152
#156 partially done ! we should add if theres any project which relies on misc options , a warning that they should start using a project templates, plus we need that a project template yaml file creating.

[2015-06-21 19:16] 0xc0170 commented on #153
Resolved on dev_0.6 branch. Both ways are currently supported

[2015-06-21 19:16] #153 closed

[2015-06-21 19:16] #140 closed

[2015-06-21 19:18] 0xc0170 commented on #33
Resolved on dev_v0.6 branch .cmsis-dap and jlink are defined for uvision.

[2015-06-21 19:18] #33 closed

[2015-06-21 19:18] 0xc0170 commented on #34
Resolved on dev_v0.6 branch .cmsis-dap and jlink are defined at the moment.

[2015-06-21 19:18] #34 closed

[2015-06-21 19:18] 0xc0170 commented on #35
Resolved on dev_v0.6 branch .cmsis-dap and jlink are defined at the moment.

[2015-06-21 19:18] #35 closed

[2015-06-21 19:19] #91 closed

[2015-06-21 19:19] #92 closed

[2015-06-21 19:21] #94 closed

[2015-06-21 19:23] 0xc0170 commented on #122
Resolved on dev_v0.6 branch

[2015-06-21 19:23] #122 closed

[2015-06-21 19:23] #124 closed

[2015-06-21 19:23] #107 closed

[2015-06-21 19:33] #152 closed

[2015-06-21 19:36] 0xc0170 commented on #119
Looks like all issues created for v0.6 were resolved. I moved some to long term as there's enough feature/breaking changes on dev_v0.6 branch. Period of testing (yes unit test still are not implemented, lets remind us once in a while) and bugfixing !

[2015-06-21 19:39] 0xc0170 commented on #94
@sarahmarshy pgen list projects - what should this pring ? If no -f is provided? currently there's no output.

[2015-06-21 19:43] 0xc0170 opened #163 "Documentation update for v0.6"
Wiki pages need some updates for v0.6 prior the release.

[2015-06-21 19:44] #115 closed

[2015-06-21 19:45] 0xc0170 commented on #61
There are predefined templates for v0.6, which should resolve this.Might not be optimal (I used some simple projects I had).

[2015-06-21 19:45] #61 closed

[2015-06-21 20:27] #121 closed

[2015-06-22 11:12] 0xc0170 opened #164 "Documentation - from wiki to gh pages?"
Github wiki is not ideal, therefore looking for options to make it more collaboration friendly. I'll update wiki to v0.6 version, as it will be the last one (v0.7 should be shipped with new structured docs)

First proposal - gh-pages, to have docs folder in this repo.

[2015-06-22 11:29] 0xc0170 commented on #163
I got first round of updating documentation ready.

[2015-06-22 12:40] matthewelse commented on #164
Yeah that sounds like a good plan - another possibility is readthedocs

On Mon, Jun 22, 2015 at 12:12 PM Martin Kojtal <notifications@github.com>
wrote:

[2015-06-22 14:26] sarahmarshy commented on #94
It shouldn't print anything. What would be logical output?

[2015-06-22 15:14] sarahmarshy commented on #161
So, it should be one command then? "Import" with functionality of current init and added proposed changes.

[2015-06-22 15:24] sarahmarshy commented on #161
Can you expand on the "pgen import target projectfile"? Also, proposing to change that to "pgen import target -f projectfile" to match the format of others.

I am starting up development on this.

[2015-06-22 17:59] 0xc0170 commented on #161
pgen import target -template (or some argument or no argument as it can be only a project file plus tool so we can get all required files - assuming that a target might be stored in multiple files). This would get mcu info which is stored in the pgen definitions (look at mcu folder), that's the format of yaml file it would create.

[2015-06-24 12:21] 0xc0170 opened #166 "pgen init rename"
As in #161, we should unify init command. @matthewelse proposed import. We started having that discussion there, lets redirect it here.

We currently have pgen init which creates yaml project file. At least, it will need to have additional functionality covered - create mcu definition file, create tool specific yaml file,  create project yaml file from an existing project).

I assigned this to v0.

[2015-06-24 12:30] sg- commented on #166
please release 0.6 - no more breaking changes :D Lets break more in 0.7

[2015-06-24 12:45] matthewelse commented on #166
I agree with @sg-

[2015-06-24 12:48] matthewelse commented on #164
@0xc0170 I think I'll have a look at moving the documentation to readthedocs

[2015-06-24 12:58] matthewelse commented on #164
actually we could just use gh-pages

[2015-06-25 12:42] #146 closed

[2015-06-25 13:07] 0xc0170 commented on #119
v0.6 was released. I'll create a new issue for v0.7 and also new milestone, to define goals.

Thanks guys for your inputs !

[2015-06-25 13:07] #119 closed

[2015-06-25 13:47] #10 closed

[2015-06-25 18:03] sarahmarshy commented on #166
@0xc0170 small progress. Have a working command. I've created a new method in project.py "create_yaml_from_file," that retrieves information from a given project file. I am still working out how to parse this information, but, it is there.

[2015-06-25 19:49] sarahmarshy commented on #166
What is the advantage of going from tool to yaml file when the means of going from directory to yaml file already exists?

[2015-06-25 22:21] matthewelse commented on #166
@sarahmarshy I would imagine that the main advantage is other information
other than files - build settings, defines etc
On Thu, 25 Jun 2015 at 20:49 sarahmarshy <notifications@github.com> wrote:

[2015-06-28 13:22] matthewelse commented on #164
I'm going to work on documentation on my branch for the time being, otherwise I'll end up creating more and more prs.

[2015-06-28 15:42] 0xc0170 commented on #164
Ok, I'll keep an eye on your branch, and can do some help there ;)

[2015-06-29 08:55] 0xc0170 opened #173 "Template - target reuse"
If target is not defined in the yaml files, and template file is provided, pgen could use the target defined there.

[2015-06-29 17:47] 0xc0170 commented on #173
#175 fixed this

[2015-06-29 17:47] #173 closed

[2015-06-29 20:06] 0xc0170 opened #177 "Tools should have own class (exporter, builder, flasher)"
tools are scattered in different layers. There should be tool classes like IAR, uVision, etc which define API for exporting, building and flashing.

I started doing this on my branch https://github.com/0xc0170/project_generator/tree/dev_iar_tool for IAR, to see how it will look and will do for uvision and see how much tools have in common.

cc @sarahmarshy @matthewelse @sg-

[2015-06-30 11:02] matthewelse commented on #177
+1 this definitely makes sense

[2015-06-30 12:29] 0xc0170 commented on #166
Yes, the other information as @matthewelse pointed out. But thats for another issue to discuss. This one is for renaming init.

[2015-06-30 19:28] 0xc0170 commented on #177
Guys, I made some good progress. IAR file contains all within, definitions, IARWorkbench class defines export, build and flash methods, plus all additional sugar required.

[2015-06-30 21:10] 0xc0170 commented on #177
IAR and uvision done so far

[2015-07-01 07:27] 0xc0170 opened #180 "Remote check for pgen definitions"
As we moved the pgen definitions repository to pgen organization, users might be using git remote set to my fork as @sg- pointed out. I was one of those affected :-)

We need to add handling this and set remote to the proper one.

[2015-07-01 16:42] 0xc0170 commented on #52
I believe this one can be closed. The only misc settings currently is for gcc as it uses makefile, which we could eliminate by cmake? :)

[2015-07-01 16:48] #52 closed

[2015-07-01 20:27] 0xc0170 commented on #177
All tools were moved to tools/ dir.

[2015-07-01 20:27] #177 closed

[2015-07-02 14:26] 0xc0170 commented on #158
@sarahmarshy Can you look at this issue ? We should reorganize things a bit. Tools are done, now look at this how project is created and data passed around

[2015-07-04 10:05] 0xc0170 commented on #128
Might not be multiplatform, closing this for now

[2015-07-04 10:05] #128 closed

[2015-07-04 11:48] 0xc0170 opened #186 "Workspace - init - list of records - unordered?"
@sarahmarshy what's the intention of using set here? https://github.com/project-generator/project_generator/blob/master/project_generator/workspace.py#L47

The order in project records is important as data can be overwritten. The last one has the highest importance. This does not maintain order therefore might have unexpected results to users. This might explain why I was seeing on one project a b

[2015-07-04 14:17] 0xc0170 commented on #63
I got a prototype of uvision workspaces the problem is to define where to save the workspace file. I have it working like mentioned above, as grouping of projects. So export workspace_test will export both projects.

[code]

I'll continue with this grouping, it provides a good exercise to clean few more things :-)

With all above, its quite trivial to get workspace generaetd for like uvision. The

[2015-07-04 15:26] 0xc0170 commented on #63
To view and review, my progress is here, I'll show new ProjectWorkspace class which is slowly getting some shape. https://github.com/0xc0170/project_generator/blob/dev_workspaces/project_generator/project.py#L150 (browse on that branch).

I'll create new issue for the redesigning project/workspace

[2015-07-04 21:26] 0xc0170 commented on #63
So above is grouping of projects, I'll create a new issue for that. Back to workspace.

I believe the workspace is a feature on top of projects. Therefore lets propose this - in projects.yaml file, we got projects and define a new keyword workspaces.

[code]

pgen export -p for project, -w for workspace.

[2015-07-04 21:30] 0xc0170 opened #188 "Grouping of projects"
On my way  to support workspaces, I implemented a new feature, which we might want to add. Grouping of projects.

Works as, that a user creates a group of projects.

[code]

pgen export -p bootloader or should be valid also pgen export -p nxp_bootloader

[2015-07-04 22:01] matthewelse commented on #188
Why is the -p flag required, couldn't it just be `pgen export bootloader`?

On Sat, Jul 4, 2015 at 10:30 PM Martin Kojtal <notifications@github.com>
wrote:

[2015-07-04 22:12] 0xc0170 commented on #188
That's for another issue, currently it's export -p as I recall

[2015-07-05 15:11] matthewelse commented on #63
@0xc0170 I think that 'workspaces' should just be groups of projects.

[2015-07-06 11:14] matthewelse commented on #186
I think that the idea behind this was to remove items which are repeated, and this is affected by #187, where the set(...) code is moved to util. We can probably look at finding another de-duplication method that maintains order. I'll add this to the workspaces branch, since it's modified there.

[2015-07-06 22:02] 0xc0170 commented on #63
The workspace is a file like a project, therefore this file needs to be exported somewhere.  What about this one:

[code]

output_dir can be specified for a project, hwo to specify for workspace? I dont think workspace needs a special yaml files. what if settings for a project are specified within projects.yaml file? Like above. Means for IAR,

- generated_projects/workspace_1/workspace_test.eww
-

[2015-07-07 10:44] matthewelse commented on #63
How about:

[code]

So, you initially define the project, _then_ add it to a workspace?

[2015-07-07 20:12] 0xc0170 opened #192 "Unify settings"
Just a thought here captured.

This came to my mind when was about to add workspaces. currently, we support in common various settings which are valid for project only. Lets illustrate

common:
  target:
  - frdm-k64f
  export_dir:
    name:
    - freedom_project
    path:
    - path/some/folder
  sources:
  - main.cpp
  macros:
  - DEMO_MACRO
The above mixing in common multiple keywords, sources,

[2015-07-07 21:19] 0xc0170 commented on #186
As I recall, this one is resolved on v0.7 branch

[2015-07-07 21:19] #186 closed

[2015-07-07 22:22] sarahmarshy commented on #192
workspaces:
        workspace_1:
            projects:
                k20d50m_blinky:
                - *k20d50m_blinky
                lpc1768_blinky:
                - *lpc1768_blinky
            settings:
                export_dir:
                    - generated_projects\$workspace$\$tool$_$project_name$_$target$

Above is supported in my branch dev_v0.7

    common:
       stuff
    project

[2015-07-09 09:18] 0xc0170 commented on #22
I am closing this, the tests are slowly being added. Keep testing !

[2015-07-09 09:18] #22 closed

[2015-07-09 16:59] 0xc0170 commented on #164
@matthewelse Once you return, can we look at docs? My focus for 0.7 is to deliver tests to cover basic functionality, documentation up to date in doc folder and some insight redesign which we started. Let me know what's the status - share the work with us, we can help

[2015-07-09 17:05] 0xc0170 opened #199 "v0.7"
Let's create this for discussion. As I highlighted in doc issue, my suggestions for 0.7

- documentation part of this repo and up to date, including all pgen keywords and commands explained
- testing - basic pgen functionality covered
- internal redesign of some classes , mainly Project() , who holds the data and how to obtain them by tools
- grouping of projects, and workspaces
- import targets f

[2015-07-09 17:05] 0xc0170 commented on #199
@matthewelse @sarahmarshy @sg-

[2015-07-09 18:22] 0xc0170 commented on #158
@sarahmarshy Now we have customize_project_for_tool(), any more plans for this issue?

[2015-07-09 18:23] 0xc0170 commented on #199
Milestone 0.7 - https://github.com/project-generator/project_generator/milestones/v0.7

Add issues which we can track ;)

[2015-07-09 21:46] 0xc0170 commented on #192
@sarahmarshy Need your update how it is now implemented, I am confused from what I am seeing and getting as result. I suggest writing tests for export_dir for project and for workspace with that string template.

We should cover various combinations, workspace export path/no project paths defined, default settings for all export paths, or some of those defined by a user.

- default: default_dir/wo

[2015-07-10 22:15] 0xc0170 opened #202 "Split loading yaml files from Project, WorkspaceProject"
We should split yaml files from those 2 classes. Both of these classes accept project files, which  they load later. To be able to test this and for use by other modules, would be much better to accept a pgen dictionary which we can even check for specific syntax before going further.

[code]

For testing above class, we need to create yaml files, which we pass as project_files. We rather load yam

[2015-07-11 08:19] #202 closed

[2015-07-11 09:14] 0xc0170 commented on #164
I am starting writing new docs, will keep you posted.

[2015-07-11 20:12] 0xc0170 opened #204 "PgenWorkspace init - load only dictionaries"
PgenWorkspace currently loads all projects/workspaces and init Projects/Workspaces classes. It would be faster if it just loads dictionaries, and init Project() class once it is needed.

For example if pgen export -p this_project is invoked, it should process data only for that project, ignore all others.

[2015-07-12 15:00] 0xc0170 commented on #192
I sent PR which removes -w (workspaces) , did not make any sense to me to split those 2 and then starting having problems like export(name) - is this a project , is this a workspace. It makes more sense that group of projects is a workspace. The only problem for this is how to set workspace output path (where is workspace generated). Ideas?

my idea is like one above:

[code]

Settings is not much

[2015-07-13 14:16] 0xc0170 commented on #63
Look at this project https://github.com/MXCHIP/MICO/tree/master/Projects/STM32F4xx, they are using workspaces, this would be nice exercise to support them. To remove projects from there and generated it with the same structure they have.

@matthewelse tinkering with the same idea about files and settings. Now that we have only projects, we can unify them somehow :-) pgen yet allows settings for a

[2015-07-13 14:17] 0xc0170 commented on #63
Lets continue discussion here https://github.com/project-generator/project_generator/issues/192. I am closing this as dev_v0.7 branch contains workspaces support.

[2015-07-13 14:17] #63 closed

[2015-07-13 17:28] sarahmarshy opened #209 "Pgen relpaths calculation"
Currently, pgen uses the function _set_output_dir to calculate the relative ".." identifiers needed to get from a tool project file to the actual project file referenced in the yaml. It adds this calculation to a dictionary that will eventually get passed to tools, and all tools must  call a _fix_paths function to append these ".."s to all filenames. I think this could be simplified using python's

[2015-07-13 17:47] 0xc0170 commented on #209
Plus to get count of how far we are for root (the number is used in eclipse) and we shold be good to go to change that.

How would this relpath simplify the dictionary ?

[2015-07-13 19:24] 0xc0170 commented on #154
This is present on dev_v0.7 branch, where coide, iar and uvision is supported. pgen import is a command. init is for initializing a repo. they got different arguments so I figured this should stay separate.

[2015-07-13 19:24] #154 closed

[2015-07-13 19:25] 0xc0170 commented on #188
Present on dev_0.7, groups are a workspace. @matthewelse we should create an issue for -p not needed and implement it

[2015-07-13 19:25] #188 closed

[2015-07-13 19:57] sarahmarshy commented on #209
We would not need count. Could do that in eclipse, like if we have:
[code]
count would then be 2

[2015-07-13 19:58] sarahmarshy commented on #209
We would also not need that part of the dictionary at all. We could just use the above function in all the tools.

[2015-07-13 20:00] sarahmarshy commented on #209
We could have a function like this in util.py
[code]

Which would go ahead and give the full relative path instead of the shortened version as above.

[2015-07-13 20:10] 0xc0170 commented on #209
Let's do that and use this also for workspaces

[2015-07-14 16:15] 0xc0170 commented on #199
v0.7 is shaping slowly, I am thinking about merging it this week or at least open PR where we can review all changes which are there (many!)

[2015-07-14 20:49] matthewelse commented on #199
@0xc0170 @sarahmarshy @sg- I think that we should aim to make sure that v0.7 doesn't drag on for ages like v0.6 - I'm back from holiday and I'm free until I start at ARM on Monday, so I'm happy to work on getting stuff done.

[2015-07-14 21:04] 0xc0170 commented on #199
I am doing what I can, fixing things. exporting and building is currently working for me with multiple tools and adding more tests to increase coverage. WHat is currently missing are docs and update valinor (might do some changes to pgen as well).

I would like describe architecture of pgen as it is now, for contributors :-)

[2015-07-14 21:31] sarahmarshy commented on #199
@matthewelse

I've got some Jira tickets that should guide us a little bit. Given that the ultimate goal of pgen is to go online, we should progress towards that for a 1.0 release.

https://github.com/project-generator/project_generator/issues/133
A good start could be this issue.

Another ticket involves argcomplete, but I took a look at that, and it doesn't seem to be very friendly cross-platfor

[2015-07-14 21:49] matthewelse commented on #199
Yeah I was thinking about the internal documentation, and since I'm planning to work on the general docs, I'll probably have a look at documenting the internals, as well as making sure we have all of the necessary user documentation.

[2015-07-14 21:55] sarahmarshy commented on #199
Good internal docs should make general docs easier. I will work on commenting some of my portions tomorrow.

[2015-07-14 21:57] sarahmarshy commented on #199
I think we should get pgen working as we want it before docs. Pgen will potentially change a lot in the coming weeks, and we may need to revise docs multiple times.

[2015-07-14 22:01] matthewelse commented on #199
Oh that's true good point

[2015-07-14 22:01] matthewelse commented on #199
So internal docs for now and then external once we have a stable API

[2015-07-15 07:14] #158 closed

[2015-07-15 08:00] 0xc0170 opened #212 "Test for yaml init"
Ah there's an error on 0.7 there, I need init now, therefore we should write test for init function

[2015-07-16 10:56] matthewelse opened #217 "More graceful failure of commands"
We should make sure that instead of producing a traceback every time the user provides invalid/incorrect input, that we provide more useful warnings or errors. Tracebacks should be reserved for genuine bugs in the code.

[2015-07-16 11:44] 0xc0170 commented on #217
Reference #131, it's probably teh same one :-) We should come up with a better way of reporting it !

[2015-07-16 12:04] 0xc0170 commented on #217
What do you suggest to do instead of try: except Type: raise RuntimeError

[2015-07-16 15:55] 0xc0170 opened #219 "Pgen list commands"
Master seems to be broken, I overlooked this change.

pgen list tools - it goes to check projects what tools they have speficied
pgen list targets - same as above, checks for targets

I think pgen list should display at least all tool available and all targets which are supported (users should not scan through sources to get this information). For a user, as they write yaml files, they know  what

[2015-07-16 16:10] 0xc0170 commented on #219
This change introduced it https://github.com/project-generator/project_generator/commit/097aad02054b09386cfe5e756245f43f920af6d7

It requires yaml file, which is wrong. pgen list targets or pgen list tool sshould work without projects.yaml file. If that file is provided, use that file to get those data. Anyway, both are now broken

[2015-07-17 08:48] 0xc0170 opened #221 "Testing command line (commands)"
We need cli runner or something similar to test pgen commands. This should happen for 0.7 release so we are confident that basic functionality works (an example #219 when pgen list failures)

[2015-07-20 07:48] 0xc0170 opened #222 "Fix url to point to the org page"
As title says. I 'll send PR today to fix this

[2015-07-23 20:05] 0xc0170 commented on #209
This hsould be fixed on master, as in project is

[code]

[2015-07-23 20:05] #209 closed

[2015-07-26 21:38] #222 closed

[2015-07-26 21:39] 0xc0170 commented on #219
Fixed via #228

[2015-07-26 21:39] #219 closed

[2015-07-26 21:40] #166 closed

[2015-07-26 21:40] #163 closed

[2015-07-26 21:43] 0xc0170 commented on #199
Any work in progress? I'll look at testing pgen commands

[2015-07-27 17:24] sarahmarshy opened #230 "Relative paths broken?"
If I define my export_dir outside of current project directory, IDE cannot find the files needed.

[2015-07-27 17:35] 0xc0170 commented on #230
Can you provide an example. What's the current project directory?

Be more specific, so I can reproduce this issue on my side.

[2015-07-27 17:38] sarahmarshy commented on #230
[code]

error in uvision:
cmsis_nvic.c: Error:  #5: cannot open source input file "..\..\..\..\..\..\..\..\..\..\mbed\libraries\mbed\targets\cmsis\TARGET_FREESCALE\TARGET_K20XX\TARGET_K20D50M\cmsis_nvic.c": No such file or directory

[2015-07-27 17:39] sarahmarshy commented on #230
But export dir as normal
[code]
Works fine

[2015-07-27 17:47] 0xc0170 commented on #230
All paths for pgen are relative to the project directory. Pgen does not support absolute paths. we should probably warn a user using absolute paths?

[2015-07-27 17:49] sarahmarshy commented on #230
Using:
[code]

does not seem to work either.

[2015-07-27 17:52] 0xc0170 commented on #230
Can you add a test case to tests, should fail and we fix to make it green :+1:

[2015-07-27 17:53] 0xc0170 opened #232 "Return values from pgen are not defined"
We currently don't return anything ( :grinning: ), we should return as usual 0 as success, non zero - error. I already define some tests for commands where I am adding asserts for checking return values. They should be enabled once we resolve this issue.

[2015-07-27 18:27] 0xc0170 commented on #221
The basic boilerplate for command testing is on master

[2015-07-27 18:27] #221 closed

[2015-07-27 19:22] sarahmarshy commented on #230
Here is fix in pgen_simple

https://github.com/sarahmarshy/project_generator/commit/ccc61d64a24e29a531c97d65464a4b8cbdf6c997

[2015-07-27 21:42] #230 closed

[2015-07-28 07:06] 0xc0170 commented on #212
Added to master, the basic init functionality. We should expand this by time to cover all arguments

[2015-07-28 07:06] #212 closed

[2015-07-28 09:14] 0xc0170 opened #237 "uVision - new device pack targets"
I would like to add a support for device packs.  As definitions are not yet versioned (yes something to fix!), I assume this can be implemented as: fetch the target definition, check if it is for new device pack or older, use the target definitions and export a project.  Which would not be breaking change :cake:

I will test this with mkit - nordic target which is supported with new device packs,

[2015-07-29 06:24] 0xc0170 opened #242 "Generator - method to check if target is supported"
I removed yesterday function to check if target is supported as it was somewhere in some file as a global function. I'll create a new method for Generator.

An example, the use in valinor where it checks a  target what tools are available for a target.

[2015-07-29 06:24] 0xc0170 commented on #232
This one was resolved via the  merge above. If you still find it returns wrong value, report ;)

[2015-07-29 06:24] #232 closed

[2015-07-29 13:27] 0xc0170 opened #243 "Targets - update definitions just once"
The latest changes introduced update for each Target() init, whihc happens in each tool export project function.

[2015-07-29 15:30] 0xc0170 commented on #199
Besides docs, which will be added later, seems like v0.7 is ready. I'll fix two issues

Test coverage is 79 percent for this release.

[2015-07-29 20:47] #243 closed

[2015-07-29 21:10] 0xc0170 commented on #242
I am closing this for now. Target has own method if its supported, a tool has own also method (supported by default).

[2015-07-29 21:10] #242 closed

[2015-07-30 16:45] 0xc0170 commented on #237
It's on master, should be working, also import should define properly mcu.

[2015-07-30 16:45] #237 closed

[2015-07-30 16:54] #199 closed

[2015-07-31 21:29] 0xc0170 opened #252 "v0.8"
This is a pocket for ideas for v0.8 :bulb:

[2015-08-01 12:16] 0xc0170 opened #253 "Project - its common data and tools"
This was coming for a long time, time to do it.. To rewrite Project class to have some logic around common data, tools data.

I'll implement one prototype and send PR for review.

[2015-08-03 17:52] #253 closed

[2015-08-07 08:53] 0xc0170 opened #260 "Template - dict which pgen can work with"
Currently a template file for  a tool (a project file) is a file, which is read by pgen. If I want to build something on top of pgen, it would be good to have template as a python dictionary. This can be used  for example to change values (we can create an API for tools).

An example - a project needs to set uARM or ARM option for uvision based on a target. It would create a generic template for a

[2015-08-11 18:00] 0xc0170 opened #262 "Cmake support"
This task might help us to eliminate custom makefile we use for gcc arm based projects. We could do new set of tools - cmakelist or using cmake to generate makefiles.

[2015-08-13 21:00] 0xc0170 opened #263 "pgen init - list all files option"
I find it useful to list all files if requested by a user. By default , as it is: only folders is fine.

Use: Got a repository where are folders with generic files, target specific files and so on. I would use pgen init to get all files in the repository and then just manually organize those files into groups/new yaml files.

A command:
pgen init --list-files/ --files ?

[2015-08-13 21:03] 0xc0170 opened #264 "Pgen init - generates files with hidden attributes"
I would argue that those files should be visible. This files are used during development and should not be hidden from a user.

@sg- @sarahmarshy

[2015-08-13 22:26] sg- commented on #264
I think hidden is right. especially for single project use where these are auto generated. Doing Anything more advanced and you probably already have hidden files viewable on the OS

[2015-08-14 07:30] 0xc0170 commented on #264
Why would you hide them from a user? Even for single project. Have you seen any package manager to have files hidden? If a user/system wants, they can do it.

I don't think this is right for this type of files for a command pgen init, by default to be hidden.

[2015-08-30 19:20] #263 closed

[2015-08-31 18:30] 0xc0170 commented on #262
I started working on adding cmake support. Got basic draft , with some tweaks able to build a blinky.

For highlight, cmakelists template looks like https://github.com/0xc0170/project_generator/blob/dev_cmake/project_generator/templates/cmakelist.tmpl

[2015-09-01 19:59] 0xc0170 opened #270 "Add wiki page - How to add a new tool"
This can be based on the latest cmake addition, to show how to add a new tool (at least exporter).

[2015-09-02 15:45] 0xc0170 opened #271 "pgen name - clashes with cython (python parser generator)"
We might reconsider using pgen, or at least document that pgen might clash in some cases.

cython is using pgen (python parser generator), reference: https://github.com/cython/cython/blob/master/setup.py#L124. If project_generator is installed, it would invoke it with a failure.

[2015-09-03 15:56] 0xc0170 opened #274 "Tool - provide API to set configuration"
Tools could be smarter to provide API to configure the template. A good start to at least provide basic options. This might be useful for projects where a template needs custom configuration based on some inputs (like a different platform, different application). The current use would be to have a template per that need or know a logic for that template to change it.

Use case:
A template which wo

[2015-09-18 20:45] c1728p9 opened #276 "Debugger settings do not work correctly in uVision 4"
When initially loading project created for uVision the configured debugger does not work.  In the 'debug' tab in options the correct devices is selected yet the load button remains greyed out.  A workaround to fix this locally is to view the 'Utilities' tab and the press 'OK'.  This should be fixed so when a uVision project is opened for the first time everything just works.

[2015-09-18 23:09] sg- commented on #276
This requires generating another file (uvopt) which store user config. I don't think this is a big deal and certainly not work the entire extra template file at the moment. Its just a side effect of simplicity.

[2015-09-19 07:41] 0xc0170 commented on #276
I don't think it requires uvopt to fix this bug. I believe it's just missing some settings. I found out that Utilities were not properly initialized for uvision4.

[2015-09-20 08:42] #276 closed

[2015-09-23 21:42] 0xc0170 commented on #271
I proposed few names back in days (reference: https://github.com/project-generator/project_generator/issues/74). We decided pgen which is not a name which should go further. There are some other names we can go with, prgen or projgen .

I'll remove pgen command for v0.8 as it's breaking change, at least project_generator stays.

[2015-09-24 05:34] sg- commented on #271
what about pg

[2015-09-24 05:34] sg- commented on #271
or p-g

[2015-09-24 05:34] sg- commented on #271
or pg-

[2015-09-24 07:46] 0xc0170 commented on #271
We need to be careful with really short ones :smile:  That's how we ended up with this issue.
Here's summary what we are considering:

projgen
proj_gen
p-g
pg-

For me p-g or projgen.

[2015-09-29 16:34] autopulated commented on #271
progen?
projen?

`progen` is used by a tmake command, but tmake looks to be pretty dead, since Qt migrated to use CMake in ~2008

[2015-10-05 17:10] 0xc0170 commented on #271
Thanks James for suggestions, projgen then.. I'll send PR to dev 0.8 branch, to fix this pgen clash.

[2015-10-05 17:15] sg- commented on #271
progen ftw!

[2015-10-07 16:37] c1728p9 opened #280 "Pgen project listing is broken"
When I try to list the projects in projects.yaml I get this crash:
[code]

[2015-10-07 20:33] c1728p9 opened #281 "Command "pgen list {targets,tools,projects}" only lists tools"
When no project file is specified and pgen list is run, only tools are listed:
[code]

[2015-10-08 17:25] #280 closed

[2015-10-08 17:25] #281 closed

[2015-10-11 20:54] 0xc0170 opened #283 "Import command removal"
As indicated in the definitions repository, definitions are becoming python module, this command should live there.

[2015-10-11 20:55] 0xc0170 commented on #283
Reference: https://github.com/project-generator/project_generator_definitions/issues/21

[2015-10-11 20:55] #271 closed

[2015-10-11 20:56] #262 closed

[2015-10-11 20:56] 0xc0170 commented on #180
Obsolete

[2015-10-11 20:56] #180 closed

[2015-10-14 21:07] 0xc0170 commented on #82
Obsolete

[2015-10-14 21:07] #82 closed

[2015-10-14 21:08] #204 closed

[2015-10-14 21:09] 0xc0170 commented on #283
v0.7.4 - import is deprecated, will be removed for v0.8. I'll label this for v0.8

[2015-10-14 21:10] 0xc0170 commented on #131
Closing as duplicate

[2015-10-14 21:10] #131 closed

[2015-10-15 08:27] 0xc0170 opened #286 "Test exported project for validity"
Good start would be to check if target is properly defined in the exported project.
For example for uvision, it is required to have Device and DeviceId.

We can later then expand this to check for generic data like files, macros and others to be set properly.

I tagged this as v0.8

[2015-10-20 06:02] 0xc0170 opened #289 "Tools - build function should return the status"
I checked uvision and IAR, and return state is missing there.

@c1728p9 thanks for reporting

[2015-10-20 08:37] akselsm opened #290 "Uvision export picks wrong vendor with latest pgen"
After updating to pgen v0.7.6 with definitions v0.1.3, exporting a EFM32GG990F1024 project selects NXP as the vendor instead of Silicon Labs. Since Uvision does not know the "NXP EFM32GG990F1024", several error messages are shown.

@0xc0170

[2015-10-20 08:52] 0xc0170 commented on #290
#288 should fix that, I'll release a new patch for definitions and then merge this PR to fix that.

What errors are shown? Besides wrong vendor in the target tab, I have not experienced errors..

[2015-10-20 09:47] akselsm commented on #290
Yep, it is fixed by #288 :)

[2015-10-20 10:00] 0xc0170 commented on #290
v0.7.7 should include the fix for this

[2015-10-20 10:00] #290 closed

[2015-10-20 18:45] 0xc0170 commented on #283
Closing as not in v0.8

[2015-10-20 18:45] #283 closed

[2015-10-21 17:07] #289 closed

[2015-10-23 18:00] 0xc0170 opened #294 "Separate readme file for pypi"
We shoudl create separate readme for pypi, as readme we have is too detailed and in markdown.

[2015-10-25 21:49] 0xc0170 commented on #252
Seems like I forgot about this issue, so here they are some ideas:

- cmake
- project simplification based on pgen simple branch
- improve init command (or rename to create?) as in pgen simple branch
- pgen name replaced by progen
- completely switch to progen definitions

many of those are already present on dev_v0.8 branch, I'll check init command.

[2015-11-03 12:36] sg- opened #298 "Pre/Post build steps not exposed in yaml"
https://github.com/mbedmicro/DAPLink/pull/27

[2015-11-04 17:29] 0xc0170 commented on #298
The tools specific options are not exposed in yaml.  It is not trivial to provide options in yaml files for many tools. I'll take uvision as an example.
It contain hundreds of options. Their internal xml naming, in many cases is not intuitive (does not match the name in the IDE). We used to cover small subset, but this does not scale. Therefore I implemented templates, where we don't need to learn

[2015-11-04 17:39] sg- commented on #298
I think misc or the equivalent for a given tool and ONLY a given, necessary feature is worthwhile.

[2015-11-04 22:24] 0xc0170 commented on #192
This is now obsolete, I'll propose a new structure for workspaces, to keep them in place but as a nice to have feature, not main.

[2015-11-04 22:24] #192 closed

[2015-11-07 07:51] 0xc0170 opened #301 "Fix relative paths handling"
All it happens inside the tools, should be moved to the project source file

[2015-11-07 07:56] 0xc0170 commented on #298
#300 deals with this , but no completely. We will provide settings for tools which are documented (for instance uvision command line options). More description is provide in the pull request.

Unfortunately, the option pre/post for uvision is not available via the command line options, could not find it there to be set up, thus for now we are stick with a template (IDE setup).

[2015-11-10 20:46] 0xc0170 commented on #298
As I added those flags, I'll add prebuild and postbuild command, should be valid for iar/uvision at least for now

[code]

[2015-11-15 12:51] georgeedwards commented on #98
I agree - this would be very helpful. Is any work being done on this and is there anything I can do to help?

[2015-11-16 09:13] 0xc0170 commented on #98
@georgeedwards

I haven't used visual studio for years, thus need to download and look how are project defined (their project syntax).

We could add this for new upcoming v0.8, there's a branch. If you need any help, or docs are not clear, let me know, I'll fix it. There's 2 sections in our wiki, Tools and Templates - https://github.com/project-generator/project_generator/wiki/Tools. The starting

[2015-11-16 12:15] georgeedwards commented on #98
@0xc0170

It would be great to see in in v0.8. I use Visual Studio 2015 Enterprise, which organises C++ projects into blank or with Makefile. Not sure if there is a configuration better suited to your tools? I will assume Makefile, as that is what the GNU projects use.

VS organises in Solutions, with projects inside. The Project then organises files into:

*External Dependencies
*Header Files
*Re

[2015-11-16 18:34] 0xc0170 commented on #98
You use it as an editor only? I could not find free available plugin for general embedded development. visualmicro is for arduino, visualgdb is not free.  Did I miss anything? I would like to have a similar concept there as for eclipse where is Makefile Project. We would generate a makefile which contains all data to build an app, and sources are in the project view to be able to edit/debug. This

[2015-11-18 00:31] 0xc0170 commented on #301
#302 fixes this

[2015-11-18 00:31] #301 closed

[2015-11-18 00:33] #264 closed

[2015-11-18 00:35] 0xc0170 commented on #252
Most of the list above is done, lets estimate that we might want to release v0.8 this month. I am still missing some small internal changes.

[2015-11-19 21:06] 0xc0170 opened #304 "ProGen as cmake generator?"
Is there any cmake codebase expert ? I have been looking at cmake code base, I could find there many generators, all of them are somehow target independent (visual studio, sublime and others), nothing like IAR, uvision..

I am wondering if it would be possible to add to cmake a new generator - progen. To generate yaml files which then progen can use (projects.yaml and single-project.yaml). This wo

[2015-11-19 22:27] 0xc0170 opened #306 "Tool addition - lpcxpresso"
It's using xml eclipse syntax.

[2015-11-19 22:28] 0xc0170 commented on #57
@aethaniel is there any progress ? :-) Tools changed quite a lot since March..

[2015-11-19 22:33] 0xc0170 opened #307 "Tool addition - Freescale KDS"
I am not certain if KDS will stay, I would estimate it will for a while. Thus if progen wants to replace exporters in mbed, we should consider adding Freescale KDS

[2015-11-21 15:03] 0xc0170 opened #309 "Include files in the project"
I would like to add an option for generator to have include files grouped same as source files in the generated project. we don't add includes to the project, just include paths.

I am considering switching default to having includes in the projects, as they contain valuable information.

[2015-11-21 15:07] 0xc0170 opened #310 "Dump debug information"
We provide debug project information printed (export/tool_specific/common). For bigger projects, the there's a lot of information, not much readable. Therefore I am considering adding a log file, in more readable form (yaml for instance). I'll test the outline. In case of problems, this log can pinpoint a problem.

[2015-11-21 16:36] 0xc0170 commented on #310
While fixing some tests, this is an output, much more readable (it's show on the console as well).

[code]

Dumpted to name.progen.log file

[2015-11-21 16:42] 0xc0170 commented on #310
Merged to v0.8

[2015-11-21 16:42] #310 closed

[2015-11-21 16:43] 0xc0170 commented on #309
Merged to v0.8

[2015-11-21 16:43] #309 closed

[2015-11-21 16:47] 0xc0170 commented on #294
Fixed for v0.8

[2015-11-21 16:47] #294 closed

[2015-11-21 16:49] 0xc0170 commented on #217
This is obsolete. If there is any failure which we can catch, create a new issue.

[2015-11-21 16:49] #217 closed

[2015-11-21 16:55] 0xc0170 commented on #98
@georgeedwards Update from me. There was gdb plugin for VS released yesterday. I was able to run my makefile k64f demo there with pyOCD. I had to overcome some issues like make not recognized or with paths, I hope to fix this with progen.

I started created a template for visual studio (for upcoming 0.8 version). I am considering adding few tools:
- vs_make_gcc_arm_pyocd (Visual studio with Makefi

[2015-11-21 17:08] 0xc0170 commented on #98
I pushed my progress to https://github.com/0xc0170/project_generator/tree/dev_visual_studio , there's visual_studio.py. I'll write there step by step how I am progressing, will become a new wiki page "how to create a new tool".

[2015-11-21 20:55] 0xc0170 commented on #98
Look at #312 , partially working, need to fix debugger settings (firstly pyOCD). To test, I am using lpc1768_blinky from this repo (https://github.com/project-generator/project_generator_mbed_examples). Command : ``` progen -vvv generate -f projects.yaml -p lpc1768_blinky -t visual_studio_make_gcc_arm ```

[2015-12-01 18:14] 0xc0170 commented on #57
Update, there is an exporter addition to mbed, which has a template defined there, that is more than a good starting point. It would be nice to have this for v0.8

[2015-12-03 17:58] aethaniel commented on #57
hi @0xc0170, sorry, it seems some of your mails didn't appear where I expected them in my mailbox.
I haven't been able to finalize this patch. AS7 files differ only a bit from AS6.2 ones.
So, I would have to revive my dev branch, if nobody else is working on this for mbed vX.Y purpose.

[2015-12-04 06:36] 0xc0170 commented on #57
Are they backward compatible? If we do AS7, it can be open in v6.x? Or just forward compatible?

I am not aware of anyone looking at it, but planning to do it.

[2015-12-04 10:27] aethaniel commented on #57
Afaik, it is forward compatible only in a way that AS7 propose the import of a 6.2 project. It may broke something on earlier versions.
The best would be to have two different exporters and keep safe.

Cheers

On 4 December 2015 07:36:56 CET, Martin Kojtal <notifications@github.com> wrote:

--
Envoyé de mon téléphone Android avec K-9 Mail. Excusez la brièveté.

[2015-12-06 21:58] 0xc0170 opened #316 "Test - add tests for exporting for all progen def targets"
Should test all our tools, if a target is supported, generate without failure

[2015-12-07 21:58] 0xc0170 opened #317 "Tools - provide specific version for tools"
We don't currently version our templates for tools. For instance, iar_arm is using IAR syntax valid for v7.x, thus we should start describe better what our tools provide.

For iar, it would be iar_arm_v7 for instance (iar_arm would be for the latest one always). uvision has also v4 and v5. In many cases , changes are not backward compatible and not everybody can afford updating their tools. Howeve

[2015-12-10 16:16] 0xc0170 commented on #252
I am closing this as v0.8 got merged to master , will be released soon

[2015-12-10 16:16] #252 closed

[2015-12-12 00:06] 0xc0170 opened #322 "v0.10 - bucket for ideas"
As version 0.8 went out today, this opens a future request - upcoming version -  we should look at how to support new tools and provide well written documentation. Thus the list could be
- wiki pages rewrite a bit - new page - how to add a new tool, design document, progen python API - how to use it in python to generate/build projects (really important to be used by others projects)
- new tools .

[2015-12-12 00:10] 0xc0170 commented on #98
@georgeedwards I releasev 0.8, it includes visual studio support. There are some limitations which I described in the PR , I believe. Briefly - I could not figure out how to edit paths in visual studio, I always get make not recognized however make is owrking outiside VS. Plus the current plugin does not support gdb commands - I could only connect to gdb server and then debug (not to load the exec

[2015-12-12 00:11] #98 closed

[2015-12-13 09:39] 0xc0170 opened #324 "Debugger - extend to interface"
Progen definitions define debugger with a name and an interface, we should provide this option to projects

[code]

[2015-12-13 09:42] 0xc0170 commented on #270
Done - https://github.com/project-generator/project_generator/wiki/Tools#add-new-tool

[2015-12-13 09:42] #270 closed

[2015-12-13 09:59] 0xc0170 opened #325 "ProjectTemplate - fix common/tool_specific"
The class defines progen data, which are fine but it does not reflect the same structure as it's in yaml files. Therefore using it outside of progen requires few extra lines

[code]

It should match yaml file format, so a user can get a template, fill in data and pass it to Project().

[2015-12-13 14:29] #325 closed

[2015-12-15 20:27] 0xc0170 opened #327 "Jlink gdb support"
I would like to add jlink gdb server.

There's already gdb class which needs a small update (at least localhost): https://github.com/project-generator/project_generator/blob/master/project_generator/tools/gdb.py#L71

The another missing part is definitions. I checked the mcu part can be extracted from iar (it's first word OGChipSelectEditMenu: state: ). Plus add this info for a target, because of

[2015-12-15 20:58] 0xc0170 opened #328 "Test - test gdb classes"
I completely missed those classes, write tests so they conform the Exporter, tool API.

[2015-12-19 09:31] 0xc0170 opened #331 "Tool - uvision5 class"
We should split uvision to uvision 4 and uvision 5. I'll look at the current implementation and propose a split here, plus how to handle legacy device vs new pack devices. Which is the main drive for this change, as MCU can be supported in both which is currently not supported in progendef (only uvision tool is there thus mcu needs to choose either legacy or new).

[2015-12-21 07:48] c1728p9 opened #334 "Multiple source groups in the same file don't work correctly"
When there are multiple source groups in a file pgen seems to put all source under only one group.
[code]

[2015-12-21 09:48] #334 closed

[2015-12-29 15:54] 0xc0170 opened #339 "uvision - debuggers definitions - Flash2 not needed?"
We should check debuggers definitions for uvision, what is required, because flash2 there does not make sense and it's same as TargetDlls anyway

[2016-01-01 08:47] 0xc0170 commented on #331
Fixed, uvision4 and uvision5 classes are now on master. The definitions also support both tools. I recommend using uvision5 for new devices (no legacy there).

[2016-01-01 08:47] #331 closed

[2016-01-04 22:48] 0xc0170 commented on #57
I consider uuid solved (visual studio tool is generating it for instance). We should create a new tracking issue for Atmel studio integration, to track the progress

[2016-01-04 22:48] #57 closed

[2016-01-07 13:54] sg- opened #343 "0.8.5 doesnt support empty fields"
Creating template yaml files causes traceback when there is no value or list for a key.

Ex:
[code]
[code]

[2016-01-07 14:11] 0xc0170 commented on #343
Is this something we want to support , having empty values in the yaml, is it considered correct?

[code]

I can add catching those errors, will look at this and write some tests

[2016-01-07 14:13] sg- commented on #343
It works for some but not others which is inconsistent behavior (worse case of all!!)

I like the idea of empty fields so you don't have to read the docs for simple modifications. Adding commonly used placeholders is a +1 IMO and a regression from the 0.6x series

[2016-01-07 14:50] 0xc0170 commented on #343
Can you elaborate?

I'll look at this uvision error, its connected to encoding.

[2016-01-08 08:09] sg- opened #345 "Better information when using build"
This is kinda usedful but having a project file name would be awesome so I knew exactly what failed :)
[code]

[2016-01-08 08:47] 0xc0170 commented on #345
+1, will fix.

This logging messages will need to be improved, for uvision is here for instance:  https://github.com/project-generator/project_generator/blob/master/project_generator/tools/uvision.py#L416

[2016-01-08 08:51] 0xc0170 opened #346 "Settings - tool checking environ should be better described"
Taken from the settings:

[code]

This should be described, if failed to find, what we are checking..

[2016-01-08 18:36] 0xc0170 opened #347 "Cmake - build support"
Cmake tool currently does not support building, we could add it. It should be possible similar as how we have it implemented for make.

[2016-01-08 22:00] #343 closed

[2016-01-09 12:19] #345 closed

[2016-01-09 13:32] 0xc0170 opened #350 "Tools - 2 functions are common _iterate _get_groups"
We could eliminate this duplication

[2016-01-13 21:39] 0xc0170 opened #352 "Sources - maintain the order as defined by input"
We should keep the same order for files as it was defined by an input.

For instance
[code]

The generated project should show virtual folder group, and files a, b, c (same order as defined). This is currently not case.

[2016-02-02 15:51] 0xc0170 opened #353 "stlink is not set"
Using this module via valinor ,does not set st link for instance for  nucleo-f401re

[2016-02-02 18:00] 0xc0170 commented on #353
I had a look, looks like valinor overwrites targets debugger. Therefore I am closing this PR and send a patch to valinor

[2016-02-02 18:00] #353 closed

[2016-02-05 09:08] 0xc0170 commented on #352
Fixed via #354 , sources are alphabetically sorted by default, which makes it easier to navigate in the exported project.

[2016-02-05 09:08] #352 closed

[2016-03-02 07:07] 0xc0170 opened #357 "Project - log file destination might need to be changed"
I faced a problem when progen was used by another module, invoked from root which was readonly, and debug logging was enabled. This caused the code snippet below to fail:

[code]

We might consider changing the destination directory for logs. In this phase, the output dir is known, and should be writeable as we generate files there. The log could be generate to the generated folder.

[2016-03-10 17:20] sg- opened #361 "Order of projects loaded - yaml.load()"
Not sure what order this builds in but it doesn't seem to match the projects.yaml file or be alphabetically.

I think it should build according to projects.yaml entry order.

For example: https://github.com/mbedmicro/DAPLink/blob/master/projects.yaml yeilds:
[code]

[2016-03-11 07:24] 0xc0170 commented on #361
Thanks for reporting, will have a look at this

[2016-03-11 07:25] 0xc0170 opened #362 "If template is supplied, check if it's correct"
There's no verification for those tools which support templates, I just built one with empty template, it did not generate a project file, but did not report anything.

[2016-03-13 09:26] 0xc0170 commented on #361
Looking at pyYAML if it supports orders, the answer is (reference: http://pyyaml.org/ticket/29): "The spec clearly indicates that the key order is a representation detail and should not be used for constructing native objects.". There are workarounds to get the order though.

I don't think this is specific to build, it's for any command, which uses generator. That one loads all the project.

The e

[2016-03-16 09:28] RyoheiHagimoto opened #364 "IAR - Need to add a template for .ewd file"
The debugger setting file is .ewd for the IAR IDE.
The .ewd file is not a template, but generated by a project generator regardless target and no way to configured.
The generated .ewd file is for cortex-M, and is not suitable for GR-PEACH (Cortex-A9) debug setting.
Therefore, users of GR-PEACH have to modify CMSIS-DAP section for debugger manually.
To configure .ewd file, please add a template for

[2016-03-16 10:02] 0xc0170 commented on #364
Thanks for reporting I noticed this on mbed.org. I'll have a look how to provide this to users. We definitely should add support for .ewd files.

I can't recall what 10 value defines for cortex-m.

https://github.com/project-generator/project_generator_definitions/blob/master/project_generator_definitions/target/targets.py#L360, This should set jtag or swd. Can you please test it , to add interfac

[2016-03-16 10:42] 0xc0170 commented on #364
@RyoheiHagimoto I am following the https://developer.mbed.org/teams/Renesas/wiki/Exporting-to-IAR-Systems, and the interface for me is grayed out in IAR (using 7.10 version). JTAG is selected. Any pointers why?

[2016-03-17 09:34] RyoheiHagimoto commented on #364
@0xc0170

I guess 10 value defines "Reset and halt bootloader (default)".

I tried, but interface setting was not changed.
I added following:

        'debugger': {
            'name': 'cmsis dap',
            'interface': 'swd',
        }

I think 'name' I set is not correct.
I could not find 'name' string that maches this case.
Please tell me what string is correct in this case.

I guess it is c

[2016-03-17 13:21] 0xc0170 commented on #364
``cmsis-dap`` - this is the name. I'll have 7.50.x on my another PC, I'll test it tonight if I can get swd/jtag not grayed-out. Please test if the interface is properly set with the change above.

[2016-03-18 02:43] RyoheiHagimoto commented on #364
@0xc0170 Thank you for your support. I can get SWD is selected in IAR IDE.

[2016-03-21 08:08] 0xc0170 opened #371 "Makefile - a user extension"
Makefile template might require adding a user extensions. For instance, there might be additional commands added like merging hex files.

If you look for instance at mbed extensions for their makefiles, you find there

[code]

[2016-03-21 08:49] 0xc0170 opened #373 "init - creates non valid yaml syntax"
If run in any folder with some files, this is appended:

[code]

[2016-04-02 14:28] 0xc0170 opened #374 "Nested virtual dirs support"
it's currently only one level of virtual dirs supported. We could add more, at least increase the limit to 5.

[code]

[2016-04-07 10:31] RyoheiHagimoto commented on #364
@0xc0170 I am looking forward to addition of the template for .ewd file. Could you please tell me the plan of it?

[2016-04-07 10:38] 0xc0170 commented on #364
It should be the first thing for progen in the upcoming days. I am having problems with the flash debugger settings for some devices, I assume it's connected to ewd as well :/

[2016-04-07 18:54] 0xc0170 commented on #364
I sent PR adding .ewd support :-) please review it

[2016-04-15 12:12] 0xc0170 opened #376 "Dir 'Sources' seems to be reserved"
for instance, in uvision
[code]

This ends with KeyError as ``old_group`` becomes ``None``. this is valid for eclipse, coide.

[2016-04-19 09:57] 0xc0170 opened #378 "Eclipse parent class addition"
We provide support for eclipse makefile projects, but that one is using jinja2 templates. We should eclipse parser, at least for pure eclipse.

I am not familiar with eclipse IDE like Atollic TrueStudio, Atmel IDE or NXP KDS. They should be explored.
- launchers

I'll start exploring pure eclipse, to get a regular project working.

[2016-04-19 15:45] 0xc0170 commented on #374
We should look what tools can provide. I checked uvision (flat groups only), iar supports nested groups.

I consider this as not crucial for now

[2016-04-19 17:04] 0xc0170 opened #379 "Macros - C/asm separation?"
I noticed some macros are not compatible for asm. at least this was the case for uvision, and other tools might be affected. We got currently `macros` that are applied everywhere.

Any suggestions? ``cxx_macros/asm_macros? This would be new addition. I am not fully convinced, thus labeling this as help wanted.

[2016-05-07 00:52] #364 closed

[2016-05-18 02:49] RyoheiHagimoto commented on #364
@0xc0170 From [export directory of mbed-SDK](https://github.com/mbedmicro/mbed/tree/master/workspace_tools/export), mbed-sdk supports 2 platforms.
I think that once iar.py is modified for template for ewd file, each platform for IAR need ewd.tmpl file.
I can add iar_rz_a1h.ewd.tmpl, but I can NOT add iar_nucleo_f746zg.ewd.tmpl, because I do not maintain nucleo_f746zg. Could you please modify mbed-

[2016-05-19 22:00] theotherjimmy commented on #373
That is valid Yaml for an empty map.
http://yaml.org/spec/1.1/#id932806
(the 1.2 spec is harder to read)

[2016-05-20 12:43] ohagendorf commented on #339
For a functional Keil5 debugger config a 2nd file (*.uvoptx) is necessary incl. a couple of additonal mcu/debugger specific config options.

How should these be added? Within project_generator or as an addition to mbed or ...?

[2016-05-31 15:20] c1728p9 opened #385 "Define flags are wrong for armasm"
The command line flags which define values for ARMASM are wrong.  Currently it generates with '-d'.  It needs to switch to '--pd'.

[2016-05-31 16:34] 0xc0170 commented on #385
This is for predefined: http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0489h/BGBDJFAA.html

Although you can use predefined global variables in combination with assembly control directives, for example IF and ELSE to control conditional assembly, they are not intended to provide the same functionality as the C preprocessor in the assembler. If you need this functionality, ARM recom

[2016-05-31 17:23] 0xc0170 commented on #385
I think to resolve this, the assembly files should use preprocesor and proper defines rather predefines. Look at the syntax how to: http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0489h/BGBDJFAA.html

[code]

[2016-05-31 17:23] #385 closed

[2016-06-01 08:32] 0xc0170 opened #386 "iar - core dic - m7 not defined?"
Is this core_dic used, as I recall using m7 with IAR and progen:

https://github.com/project-generator/project_generator/blob/master/project_generator/tools/iar.py#L306

[2016-06-01 19:18] 0xc0170 commented on #386
That's dead code, I'll send patch removing it

[2016-06-01 19:18] #386 closed

[2016-06-01 19:37] 0xc0170 commented on #373
Thanks for the reference. I don't recall why I created this issue if it was because then I could not use that yaml file (probably not), or just that personally I would remove it..

[2016-06-01 19:44] 0xc0170 commented on #339
Can you elaborate? I noticed uvoptx is generated from .uvproj and should not be required. But had similar view on .ewd file for IAR, and had to add its generation to get debugger configuration.

If it is required, progen should know about it, as it contains debugger settings. As for IAR, specific, generic .ewd is generated. IF needed, ewd can be supplied via templates, and overwrite it.

[2016-06-01 19:44] #298 closed

[2016-06-01 22:48] sg- opened #388 "uvision build is to strict :)"
SUCCESS_VALUE should be 0 or 1 for uvision (warnings are OK in some cases)

https://github.com/project-generator/project_generator/blob/0a15760ab50fee176f95a2db1c027a7a01b84ded/project_generator/tools/uvision.py#L110

[code]

[2016-06-02 08:24] ohagendorf commented on #339
Yes, you are right, uvoptx is generated. But unfortunately the project is not usable out of the box. The following happens or have to be done:

- generating project - everything is fine
- compiling - stile everything is fine
- flashing mcu - strange error message, flashing not possible

- it doesn't matter when you do it:
  - open menu Options for Target 'xxx'
  - go to debugger tab
  - press Butt

[2016-06-02 08:31] 0xc0170 commented on #339
Thanks for the feedback, so the situation is similar to .ewd IAR file. This is a new feature request, we got only 3 debuggers supported at the moment, should be fairly simple to add this (cmsis-dap,  st-link, jlink) to produce this file. Feel free to send PR, or I'll try to look at it.

However, how come people have not complained yet about debugging. I haven't got problem with flashing so far , f

[2016-06-02 08:55] ohagendorf commented on #339
I'm using the current version of Keil5, a broad range of STM mcu and exporting projects from mbed. The problem is the same with every mcu and with st-link and cmsis-dap. I didn't test jlink but it wouldn't be a problem to do it.

I'll have a look at it during the next days and try to find a solution.

[2016-06-02 09:04] 0xc0170 commented on #388
I'll fix it, 0 and 1 should be fine.

[2016-06-02 17:34] #388 closed

[2016-06-02 17:39] sg- commented on #388
Let me know when a version is published so I can update the version used to get this fix

[2016-06-02 18:14] 0xc0170 commented on #388
It was published, its out v0.9.2

[2016-06-02 18:17] sg- commented on #388
thanks!

[2016-06-14 17:22] 0xc0170 commented on #339
I run to this problem today, we will need to have a look. I'll create a new issue to track uvopt file generation

[2016-06-14 17:25] 0xc0170 opened #391 "uvision - uvoptx generation"
Seems like uvision5 provides some additional info in the ``uvoptx`` file, similar to what we did for IAR ``ewd`` files. This might require an update of definitions or just use data we have there.

To enable this feature, we should get a python dic of uvoptx file, and find out which data there are required for debuggers (target and debugger specific).

Reference #339 for further info

cc @ohagendor

[2016-06-14 20:19] #373 closed

[2016-06-16 15:04] akselsm opened #397 "Windows path separators in YAML don't get normalized on OSX"
The problem was noticed with the `tools/records/mbed/common.yaml` in `project_generator_mbed_examples`.

Because the paths aren't recognized, they are not expanded from `includes` into `include_paths` and `include_files`.

@0xc0170

[2016-06-16 16:16] #397 closed

[2016-06-16 22:37] theotherjimmy opened #402 "Make targets assume thumb mode"
https://github.com/project-generator/project_generator/blob/master/project_generator/templates/makefile.tmpl#L35 indicates that a user configuration cannot use arm mode.

[2016-06-17 07:25] #361 closed

[2016-06-21 07:30] #350 closed

[2016-06-21 07:30] #376 closed

[2016-06-22 07:33] LMESTM opened #403 "Duplicate C source files in generated project"
Just want to share a problem I met yesterday:
I used master branch (Merge pull request #399 from project-generator/dedupe-2-fn ) and the resulting project (a mbed project generated into a µvision project) contained a lot of duplicate source files and which resulted in build errors. I want back to a know working version 0.8.16 and this is working fine again.  The version I tested is not yet a relea

[2016-06-22 07:48] 0xc0170 commented on #403
It is definitely good to share, I am currently testing the master branch, not yet released the new version.

cc @theotherjimmy

[2016-06-22 15:05] theotherjimmy commented on #403
It seems that the duplication is only in the .uvproj file, not in the source tree. I'm looking into why now.

[2016-06-22 15:22] theotherjimmy commented on #403
That was silly of me. I think I squashed this bug. Thanks for reporting!

[2016-06-22 20:10] theotherjimmy commented on #403
@LMESTM Could you test again?

[2016-06-23 10:31] LMESTM commented on #403
I confirm there is no more duplication in .uvproj file so the project builds fine now, thanks for that !
.. but (sorry there is a minor but ;-) ) there are now empty directories visible in the project in µvision5. I think those  are directories where we can only find header files like hal/hal and hal/api in mbed.
![image](https://cloud.githubusercontent.com/assets/17590297/16300086/4e665cb2-393e-1

[2016-06-23 10:47] 0xc0170 commented on #403
@LMESTM When you report a bug, please provide as much details as possible to reproduce it. What commands are you using ? to build and then to export, I just tried KL25Z MBED_10 project, I noticed another issues, but not empty directories. using the latest master on mbed and progen.

[2016-06-23 10:51] 0xc0170 commented on #403
Confirmed, I just rebased my progen branch, I can see those empty directories. We will fix it

[2016-06-24 05:35] #403 closed

[2016-06-24 05:36] 0xc0170 commented on #403
@LMESTM Should be resolved

[2016-06-24 10:12] LMESTM commented on #403
@0xc0170  Indeed it works fine now - THX

[2016-06-29 16:16] jamesadevine opened #407 "TypeError: a bytes-like object is required, not `_io.TextIOWrapper`"
https://github.com/project-generator/project_generator/blob/master/project_generator/tools/uvision.py#L304

The above line fails when using python 3.

I've applied this fix to my installation:

[code]
And it works!

I would form this into a PR, but I currently don't have the time!

[2016-06-29 16:49] theotherjimmy commented on #407
I have your back on this one. I'll make the PR for you.

[2016-06-29 16:54] theotherjimmy commented on #407
I'll even give you the credit, you did the heavy lifting on this one.

[2016-06-29 19:33] 0xc0170 commented on #407
Thanks for reporting and providing a fix !

[2016-06-29 19:34] #407 closed

[2016-06-30 09:36] jamesadevine commented on #407
Thanks both! :smile:

[2016-06-30 14:35] jamesadevine commented on #407
@theotherjimmy @0xc0170 I failed to realise that the "encoding" parameter fails on < python 3! 😱

[2016-06-30 15:33] 0xc0170 commented on #407
Ehm, let me check the tests if that condition is not tested. I bet it's not as we have to run some tests on the real examples with real project templates. I have been exporting prior the release and did not have any failure.

[2016-06-30 15:35] 0xc0170 commented on #407
Anyway, the patch is wrong , this condition is not covered - https://github.com/theotherjimmy/project_generator/blob/4712c1d64d6cb2293ce16b6a044c767a26e8e420/project_generator/tools/uvision.py#L307

Thus I might have not spotted it while running local tests..

[2016-07-05 17:26] sarahmarshy opened #414 "Make flat projects.yaml acceptable"
Currently, progen **only** accepts projects.yaml file in the form of:

[code]
where yaml_with_source.yaml looks like:
[code]

I think it should accept projects.yaml files that look like:
[code]

cc @0xc0170 @sg-

[2016-07-11 17:26] #414 closed

[2016-07-11 17:56] ohagendorf commented on #391
Maybe this can be closed now.

[2016-07-15 14:04] #391 closed

[2016-07-15 14:04] 0xc0170 commented on #391
thanks @ohagendorf

[2016-07-15 14:06] 0xc0170 opened #417 "Profile progen"
We should profile progen, find weak spots and optimize based on the results (prior the changeset and afterwards).

I would like to see how much we can speed up progen

Same should be done for progen definitions

[2016-07-18 21:15] 0xc0170 commented on #322
Renambed to 0.10, we got a branch already for it . v0.9.x is out, did not include almost anything from the above list :-) I'll create a milestone soon

[2016-07-20 16:58] sarahmarshy opened #419 "Relative paths in progen"
If I pass a project dict to a progen project, with the paths already set to be relative to the export directory, there are issues.

This function:

[code]

used in this context:

[code]

Where rel_path is  used:

[code]

Where fix_paths is defined as:

[code]

Is there a specific reason for this complexity? Why can't we just use the built in method relpath to make all files relative to the export

[2016-07-25 22:43] sarahmarshy opened #422 "IAR debug broken"
IAR debug does not work. I have found a solution: turning on the use of flash loaders (set in .ewd file). Is there a reason this was not enabled?

[2016-07-26 14:46] 0xc0170 commented on #422
What boards did you test? Various MCU vendors? like nxp, emf32, atmel etc?

I know that for instance nxp (freescale) boards require use flash loader to be enabled, but some others don't. Based on that, I assumed that this is a target specific, and we enabled .ewd templates.

[2016-07-26 14:47] 0xc0170 commented on #422
Thanks for raising this, this has been a known issue (I would like to understand those flashloaders better) that was not tracked.

[2016-07-26 14:53] sarahmarshy commented on #419
This is also dependent on self.settings.root, which is set to be the cwd if one is not provided. If there is no common root, we should think of a better way to handle it than cwd.

[2016-07-26 15:01] 0xc0170 commented on #419
Can you write a test case for that to show it fails?

The reason there is that yaml files reference files from a root, and an exported dir might not be in the root, thus tweaking paths is required.

Isn't that what function fix_paths does? Loops through its data and set a correct path? Any suggestions for improvements?

This is not a common use case, and currently disallowed. how would you provide

[2016-07-26 16:09] sarahmarshy commented on #419
The complexity I am talking about is manually appending relative prefixes to all filepaths. Why not use python's built in relpath?

[2016-07-26 16:13] sarahmarshy commented on #419
If it is disallowed, we know what the test will show, right?

[2016-07-26 17:14] 0xc0170 commented on #419
Send a patch please to fix it

[2016-07-26 22:58] theotherjimmy opened #425 "Extend exporter API to return source of project files instead of writing them to disk"
The exporters in mbed are undergoing a huge revision and part of that revision is a zero-copy strategy. The goal is to create a zip file from an mbed project, using progen, and enforce that only the final zip file is written to disk. Currently, the only files that have two copies (one in the zip, one in the build directory) are:
- `mbed_config.h` (not progen's problem)
- project files, generated b

[2016-07-27 00:24] sarahmarshy commented on #425
https://github.com/sarahmarshy/project_generator/tree/return_raw_xml

[2016-07-27 00:28] sarahmarshy commented on #425
I made a branch [here](https://github.com/sarahmarshy/project_generator/commits/raw_xml)

[2016-07-28 08:36] 0xc0170 commented on #425
What would be the function name? Exporter API provides ``export_project`` that should export a project file. This could be ``get_export_projects()`` or ``get_export_dicts()`` ?

Be aware of limitation for exporters that use jinja2 templates (they use ``gen_file_jinja``). As a template contains the magic. A user would need to get the export_dicts, and use ``gen_file_jinja`` or do something similar.

[2016-07-28 14:08] theotherjimmy commented on #425
I don't think that's a limitation. We would use something like https://github.com/project-generator/project_generator/blob/master/project_generator/tools/tool.py#L151and instead of doing the next line, we would write it to a dict. afterwards, we could just return said dict instead of what the generate normally returns.

[2016-07-28 21:13] sarahmarshy commented on #425
New branch:
https://github.com/sarahmarshy/project_generator/tree/raw_proj_files

[2016-07-29 08:48] 0xc0170 opened #427 "uvision - condensed format paths"
As in this issue: https://github.com/mbedmicro/mbed/issues/2263

We should not generate full paths, if we could short them, to avoid the windows path limit.

@theotherjimmy @sarahmarshy

[2016-08-01 23:00] sarahmarshy opened #428 "IAR dictionary vs jinja template"
Why did we move from IAR templates to the dictionary? I found a solution to the FPU problem, but editing the XML generation for IAR is a nightmare right now because that dictionary is unreadable. Can we return to the template?

@0xc0170  @theotherjimmy

[2016-08-03 08:50] toyowata opened #429 "[RC5 OoB] armasm errors for --preinclude option"
How to reproduce:
[code]

I got errors below for the armasm.

[code]
cc @sg- @theotherjimmy

[2016-08-03 10:11] samchuarm opened #430 "[RC5 OoB] armasm errors"
steps to reproduce:

[code]

While building target in uvision, I got errors as below:

[code]

[2016-08-03 13:34] sarahmarshy commented on #429
Hi Toyo, see my comment on #2347. I found the commit that is responsible.

[2016-08-03 13:58] samchuarm opened #431 "[RC5 OOB] error of mbed export to make GCC_ARM"
Steps to reproduce:

[code]

I got the errors as below:

[code]

[2016-08-03 14:22] samchuarm opened #432 "[RC5 OoB] armasm errors w/ uvision"
steps to reproduce:

[code]

While building target in uvision, I got errors as below:

[code]

[2016-08-03 14:49] samchuarm opened #433 "[RC5 OOB] build error in gcc_arm make"
steps to reproduce:

[code]

While building, I got errors as below:

[code]

[2016-08-03 15:01] toyowata commented on #429
@sarahmarshy I don't think the armasm support --preinclude option.  Why do you think this is an mbed issue?

[2016-08-03 15:50] sarahmarshy commented on #429
@toyowata the line that I have just changed with this [commit](https://github.com/ARMmbed/mbed-os/pull/2347/commits/4484e2e14bb0dc207aeef4cf92558fd3fd7d60ac) was adding the --preinclude option to the assembler flags.

[2016-08-03 16:11] sarahmarshy commented on #430
Duplicated here: https://github.com/project-generator/project_generator/issues/429

[2016-08-03 16:12] sarahmarshy commented on #432
Duplicated here: https://github.com/project-generator/project_generator/issues/429

[2016-08-03 16:20] sarahmarshy commented on #431
@theotherjimmy

[2016-08-03 16:33] theotherjimmy commented on #431
mbed export to gcc_arm is not handled by progen.

This template is bad: https://github.com/ARMmbed/mbed-os/blob/master/tools/export/gcc_arm_rz_a1h.tmpl
It uses constant CC_FLAGS, which will never update correctly from the toolchain c_flags.

[2016-08-04 03:51] sunsmilearm opened #434 "[RC5 OOB] compile error when export to Keil for K64F"
Commands I used:
mbed import mbed-os-example-client
mbed update mbed-os-5.1.0-rc5
mbed export -i uvision -mK64F

Then open the project in Keil5, get compile errors:

assembling startup_MK64F12.S...
startup_MK64F12.S: error: A3907U: Via file '.\.build\uvision4\startup_mk64f12._ia' command too long for buffer.
assembling SVC_Table.S...
SVC_Table.S: error: A3907U: Via file '.\.build\uvision4\svc_tabl

[2016-08-04 21:44] sarahmarshy commented on #434
Duplicated here: https://github.com/project-generator/project_generator/issues/429

[2016-08-08 06:55] 0xc0170 commented on #430
Please use search functionality, not to create duplicates. Thanks

[2016-08-08 06:55] #430 closed

[2016-08-08 06:57] 0xc0170 commented on #429
@toyowata Sarah is correct. Progen does not know and never will what is a valid option for tools (uvision uses proprietary xml for instance). therefore a consumer of progen (in this in this case mbed) needs to take care of how to make preinclude work with assembly files.

I noticed this was fixed in the mbed, not to use preinclude. I'll close this issue

[2016-08-08 06:57] #429 closed

[2016-08-08 06:58] 0xc0170 commented on #422
Any update to this issue?

[2016-08-08 07:01] 0xc0170 commented on #433
Please log this in mbed repo. gcc arm is not yet ported there to use progen. plus this issue seems ot be a problem of includes in mbed, not directly progen. Thanks.

[2016-08-08 07:01] #433 closed

[2016-08-08 07:16] 0xc0170 commented on #434
@sunsmilearm I have seen this error, there are limits (preprocessor has a buffer). mbed uses a lot of defines, that triggers this error. Plus there's a windows limitation.

@sarahmarshy Is this a duplicate? The issue referenced above is about preinclude, this one is about too long buffer.

We will hit this error often. I don't think this is related to progen, and might be better to track this issu

[2016-08-08 07:17] #432 closed

[2016-08-08 07:19] 0xc0170 commented on #431
@theotherjimmy / @samchuarm  Please create an issue on mbed for this. I'll close this issue as it's not relevant to this module

[2016-08-08 07:19] #431 closed

[2016-08-08 07:30] 0xc0170 commented on #428
Is there any FPU problem? Are you referring to the IAR syntax change (FPU vs FPU2)? I dont recall there's any issue opened here, please create one.

It should be easier to maintain, keep everything within python.
To maintain the dict + jinja2 template vs one dict.  To fill in jinja2 (the initial port work) is much more time consuming (every single option/checkbox should be allowed to be changed, t

[2016-08-08 14:16] sarahmarshy commented on #434
@0xc0170 solved with https://github.com/ARMmbed/mbed-os/pull/2377

[2016-08-08 14:18] sarahmarshy commented on #434
You are right that this is not a duplication of the link above. My mistake. However, there have been a few duplicated issues about this in progen.

[2016-08-08 14:20] 0xc0170 commented on #434
Yes, users should use search functionality prior creating a new one.

Thanks. I'll close this one. however, as noted above, we might hit this limit again (there are limits in windows and also in tools (they have buffers and how they interact (asm with preprocessor, etc)).

[2016-08-08 14:20] #434 closed

[2016-08-08 15:10] sarahmarshy commented on #428
They match 1:1, but the embedding the XML syntax into a dictionary is convoluted, because the tags have no logical significance within progen. Though they are obviously significant _in IAR_. Take this line: https://github.com/project-generator/project_generator/blob/master/project_generator/tools/iar.py#L140. These keys ewp_dic[index_iccarm]['data']['option'], that prefix everything do nothing to

[2016-08-08 15:22] theotherjimmy commented on #428
I'm going to provide another perspective:
It looks awful. This line https://github.com/project-generator/project_generator/blob/master/project_generator/tools/iar.py#L40 is like 10,000 characters long! That's just impossible to read, and much worse to edit. We could at least store the data as an XML blob and read it in, just like the template (https://github.com/project-generator/project_generator

[2016-08-08 15:38] theotherjimmy commented on #428
I find that code superfluously complicated, and fragmented.

[2016-08-08 15:43] bridadan commented on #428
Whether or not Jinja2 is the right tool could be argued. But we should strive to keep this type of "data" out of the logic.

[2016-08-08 19:39] 0xc0170 commented on #428
Sounds good to have it as a template and read it. I personally haven't profiled it how much time it would take. Let's do that and we can start from there. I am not against having it stored as a file (real project file), load it, edit and generate.

[2016-08-08 19:44] theotherjimmy commented on #428
I really don't think that reading in 5KB of XML vs 3KB of Python is going to be that big of a difference. I'll profile for you anyway.

[2016-08-09 07:25] 0xc0170 commented on #428
Any progress ?

[2016-08-09 18:05] theotherjimmy commented on #428
See #435

[2016-08-10 07:36] 0xc0170 opened #436 "Docs - state tools versions (the templates, what we test with)"
We should state in the docs, what versions are used for the templates, also for tools. What versions we use for testing. For instance for IAR it would be 7.40.2 (I used that for the template).

cc @theotherjimmy @sarahmarshy

[2016-08-10 09:13] 0xc0170 commented on #428
merged, the templates are now valid project files we use. I'll close this one.

[2016-08-10 09:13] #428 closed

[2016-08-10 14:40] sarahmarshy commented on #436
I agree, however, IAR only keeps downloads for its latest versions, so it will be difficult for me (and users) to find 7.40.2. I have 7.40.3, which I picked up from Rus.

We should consider updating our IAR support to the latest version.

[2016-08-10 14:45] 0xc0170 commented on #436
Not updating often (every single release) but we should strive for the latest versions (to get latest MCU, and breaking changes to be resolved). I don't know yet what's their release cycle for tools, but IAR releases patches quite often.

You can download earlier versions if you got a license (need to log in to their portal), where you can find all info about versions available for your license.

[2016-08-15 13:45] 0xc0170 opened #437 "IAR - add support for core"
``OGCoreOrChip `` - this is set to 1 by default. It could be 0. Progendef requires first to get this as 0 or 1, then progen will check its value and set the rest accordingly

[2016-08-15 15:43] MarceloSalazar opened #438 "Cannot enable Debug on generated Makefile"
Tools version:
mbed CLI = 0.9.1
project_generator = 0.9.9

I expect to be able to enable DEBUG on the generated Makefile by defining `DEBUG = 1` before this `ifeq`:

[code]

However, debug symbols are not enabled because:
1. There is no option to add `-DDEBUG -O0` to `CPPC_FLAGS` in the `ifeq` statement (e.g. `main.cpp`)
2. `CC_FLAGS` and `CPPC_FLAGS` are already defined earlier with `-Os` option:

[2016-08-15 15:46] theotherjimmy commented on #438
Actually, the flag to add debug information to GCC's output files is `-g` it is simply missing from the CC_FLAGS variable.

[2016-08-15 16:12] 0xc0170 commented on #438
Note: we should port makefiles in mbed. Because mbed does not currently use progen, thus this issue is mbed related, not progen.

[2016-08-15 16:18] theotherjimmy commented on #438
@0xc0170 is right, this should be moved to armmbed/mbed-os .

[2016-08-16 07:18] #438 closed

[2018-04-10 10:01] jamesadevine opened #440 "setup.py breaks with pip version 10.0.0b2"
Hiya,

Just tried to install yotta via pip, and setup.py breaks on line [18](https://github.com/project-generator/project_generator/blob/master/setup.py#L18).

I believe this line uses an internal module which is subject to change, and evidently has in the most recent version of pip.

[2018-04-18 16:49] #440 closed

[2018-05-24 08:24] Hoohaha opened #443 "Does this support to configure CMSIS-DAP serial number in Keil projects?"
As the title. Thanks very much.

[2018-06-14 08:05] 0xc0170 commented on #443
Hi,

this are the options that are used for debugger  : https://github.com/project-generator/project_generator/blob/master/project_generator/tools/uvision.py#L56 (line for cmsis). We do not set serial number. Does not that one come automatically ?

What is the use case?

[2018-06-19 03:30] Hoohaha commented on #443
There are several boards connected my PC, I want to automaticly generate the projects for each board, and then the projects will be built, then use Keil command line to download the image to board, if no serial number configured, the flash action will be failed. Because it default find the first index of boards.

I found a workaround: update bellow node
[code]
mbed_ls tool could list the connected

[2018-06-27 04:30] Hoohaha commented on #443
yes thanks a lot.

[2018-06-27 04:30] #443 closed

[2018-09-16 03:08] neilpanchal opened #444 "project_generator or progen: command not found"
Hello,
I downloaded the package using `pip install project_generator`. Installation completed successfully.
However, I don't have the `progen` or `project_generator` command in bash. I get an error `command not found`. Could you please add some more instructions on how to add progen to path? Is there any executable available?

[2018-09-17 08:31] 0xc0170 commented on #444
Hi @neilpanchal , what is your OS you are running ? For windows, you need to have python scripts in your path for instance.

In my case, it is in Drive:/Python27/Scripts

[2018-09-17 23:07] brianesquilona opened #445 "Progen for Daplink with Python 3 support is not compiling source files"
uvision project files generated by progen is different between Python 2 and 3. Also in python 3, the ide does not show file names.

To replicate:

1. Use PR https://github.com/ARMmbed/DAPLink/pull/499 for Daplink python 3 support.
2. Create a virtualenv, for both Python 2 and 3, i.e. env27 and env37
3. Activate each virtualenv and run tools\launch_uvision.bat
- tools\launch_uvision.bat env27 requi

[2018-09-24 08:34] 0xc0170 commented on #445
I tested compilation for kl26z_bl project. It builds for both python versions I was testing above. There can be a bug in the scripts you are using or version mismatch (mine and you used) ?

[2018-10-12 15:35] 0xc0170 commented on #445
I was finally able to reproduce.

`
        uvproj_xml = xmltodict.unparse(uvproj_dic, pretty=True)
`
This line in uvision provides the wrong xml dict, will investigate how it differs between 2.x and 3.x python versions.

[2018-10-20 21:39] #445 closed

[2018-10-20 21:39] #444 closed

[2018-10-20 21:47] 0xc0170 commented on #445
v0.9.13 was released

[2018-12-06 10:11] 0xc0170 opened #447 "uvision5: add ARMC6 support"
We should update the template for uvision5 to provide ARMC6 support and test

[2018-12-10 14:58] 0xc0170 opened #448 "Update wiki for latest progen version"
Wiki needs updating (supports 0.8.x currently).

[2019-06-08 06:10] 40Grit opened #449 "Exporter Request: VS Code build using mbed-cli"
@trowbidgec @farrenv

We have our own template for this, but having exporter would still be nice if we ever need to validate one of the stock examples with our boards.

[2019-07-05 15:27] SuWeipeng opened #450 "Tutorial introduction (Youtube link)"
[youtube link](https://youtu.be/IM1bTqtLg4s)

[2019-08-03 03:38] SuWeipeng opened #451 "yaml error"
errors
---
![4](https://user-images.githubusercontent.com/24380862/62406750-1b325d80-b5e3-11e9-99cb-06ddd0870a98.jpg)

how to solve
---
![1](https://user-images.githubusercontent.com/24380862/62406755-24bbc580-b5e3-11e9-84b0-59a448000d3e.jpg)
![2](https://user-images.githubusercontent.com/24380862/62406756-25545c00-b5e3-11e9-811a-7754edf75e83.jpg)
![3](https://user-images.githubusercontent.com/243

[2019-08-14 11:01] 0xc0170 commented on #450
Hello @SuWeipeng . What is the video about? Without further description, this issue will be closed as not having sufficient details.

[2019-08-14 11:02] 0xc0170 commented on #449
Hi @40Grit , do you have the template for sharing? I can have a look.

As I understand, this request is for adding vs code template that uses mbed-cli? Is this part of Mbed OS exporters ?

[2019-08-14 11:03] 0xc0170 commented on #451
@SuWeipeng Feel free to send PR or I can do it later.

What version of pyaml you have installed? I'll try to update and reproduce the issue.

[2019-08-14 17:05] 40Grit commented on #449
We are going to stay using @janjongboom's exporter for this so I would start there.

[2019-08-14 17:06] 40Grit commented on #449
*start using

[2019-08-14 17:06] 40Grit commented on #449
https://github.com/janjongboom/mbed-vscode-generator

[2019-08-19 11:23] 0xc0170 commented on #450
Any update?

[2019-08-20 03:26] SuWeipeng commented on #450
This is a simple tutorial. I do this because I think project_generator is a wonderful project.

[2019-08-20 03:32] SuWeipeng commented on #451
New installation on windows with newest Python2.7, yaml version greater than 5.1

[2019-08-20 08:21] 0xc0170 commented on #450
@SuWeipeng Thanks for the feedback!

I'll close this as it's not an issue. Thanks for sharing. Is it in chinese? Just checking

[2019-08-20 08:21] #450 closed

[2019-08-20 08:22] 0xc0170 commented on #451
If you cand send PR with the fix, I shall find time to update my local packages and get this fix in otherwise

[2019-08-20 15:52] 0xc0170 commented on #451
I can reproduce the problem, will send Pr and test

[2019-08-20 16:11] #451 closed

[2019-10-24 13:58] SuWeipeng opened #453 "how to solve install error"
![Snipaste_2019-10-24_20-29-03](https://user-images.githubusercontent.com/24380862/67492613-4213a380-f6a9-11e9-9094-7b31968d88a6.jpg)
![Snipaste_2019-10-24_21-56-51](https://user-images.githubusercontent.com/24380862/67492624-450e9400-f6a9-11e9-8a9e-62d5f94333eb.jpg)

[2019-10-24 14:28] SuWeipeng commented on #453
solved , my internet connection have problem.

[2019-10-24 14:28] #453 closed

[2019-12-03 17:44] 0xc0170 opened #465 "Update tools to their latest major versions"
I found quite plenty of references in the code for UV4, IAR 7 etc. We should refactor a bit, remove any references to older tools, and use the latest.

[2019-12-03 17:57] 0xc0170 commented on #448
I pushed an update, removed some old references. This should be now fixed

Another task will be to rewrite wiki to update it

[2019-12-03 17:57] #448 closed

[2019-12-06 14:50] 0xc0170 opened #466 "Simple examples"
Create simple makefile base examples for progen as a showcase. The mbed example might be too big for a starter.

I've got few baremetal blinky for specific targets . It could show what progen can do in a few steps.

[2019-12-06 14:50] 0xc0170 commented on #466
Fork of this one, removing makefiles there and add progen project file : https://github.com/0xc0170/kinetis_klxx_gcc

[2019-12-06 14:53] #422 closed

[2019-12-06 14:53] 0xc0170 commented on #422
If yet not fixed, reopen via new issue.

[2019-12-06 14:54] 0xc0170 commented on #379
This should not be the case. I'll close this as "won't fix".

[2020-01-03 20:47] 0xc0170 commented on #427
I'll close this as won't fix.

If this becomes a problem again, we can add something like this: `u'\\\\?\\' + os.path.abspath(path)` to use long names. see https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file?redirectedfrom=MSDN#maxpath

[2020-01-03 20:47] #427 closed

[2020-01-03 20:48] 0xc0170 commented on #374
I'll close this as won't fix. It should be sufficient as it is implemented.

[2020-01-03 20:48] #374 closed

[2020-01-03 20:50] 0xc0170 commented on #339
This was added (issue 391 above). I believe this is resolved.

[2020-01-03 20:50] #339 closed

[2020-01-04 19:54] 0xc0170 commented on #307
Not valid anymore, will close

[2020-01-04 19:57] 0xc0170 commented on #13
I'll close this one. As the comment above. This would just complicate things with not much benefit (creating own debug/release projects is simple with just different settings).

[2020-01-04 19:57] #13 closed

[2020-01-04 19:59] 0xc0170 commented on #39
Not valid anymore, I'll close

[2020-01-04 19:59] #39 closed

[2020-01-04 19:59] #307 closed

[2020-01-04 20:00] 0xc0170 commented on #164
Let's keep wiki up to date, should be sufficient.

[2020-01-04 20:00] #164 closed

[2020-01-04 20:01] 0xc0170 commented on #129
I'll close this as has not been ported for years, and won't be in the near future. It can be reopened any time or just ported.

[2020-01-04 20:01] #129 closed

[2020-01-04 20:02] 0xc0170 commented on #58
I'll close this as has not been ported for years, and won't be in the near future. It can be reopened any time or just ported.

[2020-01-04 20:02] #58 closed

[2020-01-04 20:05] 0xc0170 commented on #274
This would be nice but quite difficult to cover for some IDE that provide many options. Keep it simple, use template or tool specific options as in makefiles, language flags. I'll close this one as won't do at the time.

[2020-01-04 20:05] #274 closed

[2020-01-04 20:06] 0xc0170 commented on #260
This was implemented long time ago.

[2020-01-04 20:06] #260 closed

[2020-01-04 20:09] 0xc0170 commented on #161
We do import targets via `progendef` module. To get a project from the tool though, another nice feature but writing yaml file should be quick and simple for a project, I don't believe we need to get that smart to start parsing IDE projects to create yaml. Use sources what you have to create yaml project files. I'll close as won't fix.

[2020-01-04 20:09] #161 closed

[2020-01-04 20:12] 0xc0170 commented on #419
I'll close this one, has been some time.

[2020-01-04 20:12] #419 closed

[2020-01-04 20:16] 0xc0170 commented on #425
I'll take this branch and create PR, will review it there and see what we can do with this one. I'll close this in the meantime.

[2020-01-04 20:16] #425 closed

[2020-01-04 20:19] 0xc0170 commented on #306
As it has been idle since 2015, I'll close this , PR's welcome!

[2020-01-04 20:19] #306 closed

[2020-01-04 20:20] 0xc0170 commented on #304
Based on some discussions I've read, the cmake generators do it differently (preferred way is not this one), and thus I don't think this is even an option. I'll close this one as won't fix.

[2020-01-04 20:20] #304 closed

[2020-01-04 20:24] 0xc0170 commented on #322
I'll close this, will mark each one with milestone.

[2020-01-04 20:24] #322 closed

[2020-01-05 07:00] 0xc0170 opened #469 "Makefile: flags should not need `-`, same as std libs"
[code]

this should be without `-`, as we parse them and add `-`

[2020-01-05 07:03] 0xc0170 opened #470 "linker script: should not be under misc in tools"
I misplaced linker script in one of the records, and it failed to produce correct path (relative to the generated project):

correct:

[code]

incorrect but no error:

[code]

[2020-01-05 07:04] 0xc0170 commented on #466
New repo created https://github.com/project-generator/project_generator_frdm_boards_example, will soon have all projects working :)

[2020-01-05 07:04] #466 closed

[2020-01-05 18:42] 0xc0170 commented on #449
@40Grit Would you be able to help adding this? I can help but not completely port currently. Otherwise this will be just without progress (I closed some old tool port requests recently).

[2020-01-05 20:57] 40Grit commented on #449
No resources currently to add this into the OS. As Mbed Studio matures we will probably switch over.

Feel free to close unless @janjongboom has some insight proving it a straight forward task.

[2020-01-07 13:13] #449 closed

[2020-01-07 13:14] #379 closed

[2020-01-07 13:14] 0xc0170 commented on #378
Not planned currently, will close for now.

[2020-01-07 13:14] #378 closed

[2020-03-26 16:19] flit commented on #469
But what about options that begin with `--`? Or toolchains that have options that don't begin with a dash, both those that start with `/` and no prefix.

[2020-03-26 16:26] flit opened #471 "Makefile: Windows paths not escaped"
When using make_gcc_arm on Windows, the paths in the generated makefile contain unescaped `\` path separators.

[2020-03-27 20:32] 0xc0170 commented on #471
We fix paths using `os.path.normpath`. Locally on windows for frdm example, include paths:

[code]

But are written unescaped, will look at this over the weekend.

[2020-06-25 07:57] 0xc0170 commented on #471
I will close this as I could not reproduce the issue and did not find anything neither that would raise a flag. If it's not the case, lets reopen with an update.

[2020-07-06 20:47] flit commented on #471
Sorry I didn't notice you closed it… it's a real issue. The problem is that path separators _are_ translated to backslashes on Windows, but the backslashes themselves are not escaped. This causes problems in the makefile output, because make interprets the backslashes as escapes and not path separators. The makefile output needs to double-escape backslashes in paths to work on Windows.

[2020-07-08 18:52] 0xc0170 commented on #471
Lets use the same example and compare Make versions and what is there. I am using `https://github.com/project-generator/project_generator_frdm_boards_example` . Using `progen generate -t make_gcc_arm` to get make files.

`C_SRCS :=  ..\..\cmsis\MK64F12\system_MK64F12.c  ..\..\gpio_demo_frdmk64f\main.c ` for example. This is causing a problem on windows?

[code]

Versions:
progen v0.10 from master

[2020-07-08 18:56] flit commented on #471
Thanks. I'll try it out with the example projects (didn't even realize those existed!). Will be a little bit before I can get to it, though. And I'll have to start up my Windows VM before I can check the version of make.

[2020-07-08 18:57] 0xc0170 commented on #471
Ah wait, cmd in windows is having a problem to create build folder. Once I create it manually, I get a binary:

[code]

[2020-07-08 18:59] 0xc0170 commented on #471
I realized we did not have any showcase for progen so created very simple projects (I ported my baremetal frdm examples).

[2020-07-08 18:59] flit commented on #471
But it still reports a 'cannot find the file specified' error?

Anyway, it's clear there's some different! I was getting file not found errors because the backslashes weren't double-escaped.

[2020-07-08 19:00] flit commented on #471
I think you've given me enough so I can try to track it down on my side. There may still be an issue here, or may not. 😄  It would be nice to work with all common make implementations for Windows—I'd be really surprised if I had a weird, unusual version installed.

[2020-07-08 19:14] 0xc0170 commented on #471
[code]

The first error I believe comes from:
[code]

The second:
[code]

And the last one:

[code]

Not sure why is this executed after binary creation but again its related to shell true command as we can see from the process creation.

Hope this helps.

[2020-07-08 19:15] flit commented on #471
Thanks!

[2020-12-18 16:20] mbrossard opened #477 "pre_build_script and post_build_script API"
Looking at the `DAPLink` project it seems the different pre-build and post-build scripts have an implied calling convention: they should be called with a build directory named after the current project that needs to be 3 directories down from top-level with a `build` sub-directory with the binaries.

I think the scripts should be given explicitly the different parameters:
- Identifier of the proje

[2021-01-14 21:36] #347 closed

[2021-01-14 21:43] 0xc0170 commented on #477
Can you share references of these in DAPlink, what they do and how ? I do not fully understand the usage of these in the applications.

[2021-01-14 22:39] mathias-arm commented on #477
Currently DAPLink uses wrapper shell scripts like:
- https://github.com/ARMmbed/DAPLink/blob/master/tools/pre_build_script.sh
- https://github.com/ARMmbed/DAPLink/blob/master/tools/post_build_script.sh

They use wildcard for input and convention (`firmware`) for outputs. This branch uses the name of current working directory to get the project name: https://github.com/mbrossard/DAPLink/blob/featur

[2021-01-21 11:49] xuanxs opened #481 "how to generator .vscode folder and the config json files"
hello,dev
when generator the project,is that possible generate configuration file(such as launch.json,c_cpp_properties.json ..etc) in .vscode folder by the way. if it can‘t,will provide it in the next few versions?

PS: after generate the gcc  makefile，how to generate the linker file
![QQ截图20210121194856](https://user-images.githubusercontent.com/46104206/105347498-f6d89f80-5c21-11eb-9e79-98a88045

[2021-01-25 07:26] 0xc0170 commented on #481
What are these files ? I am not yet familiar with what vscode generates.

The error with `[]` seems like a bug - empty target in the makefile - the error is in yaml files - looks like something is missing. How can I reproduce the error?

[2021-03-10 17:55] flit opened #482 "Support for per-file flags"
Some projects require per-file compiler flags.

This should probably work by allowing a source file entry to be a usual settings dict.

[2021-03-14 20:14] 0xc0170 commented on #482
I recall working on some projects that had specific files settings. I always wanted to avoid this (it is hidden from common settings).

The support for all tools will take the most effort.

[2021-03-14 20:34] flit commented on #482
Yeah, it's a pain. Unfortunately it's needed for some things I'm working on in Research. Currently I'm working around it with a new tool-specific `custom_rules` setting added in my fork. It accepts a string that is just copied directly into the generated `Makefile` or `CMakeLists.txt`.

[2021-03-21 17:09] flit opened #486 "Release wheels for progen"
Need to release wheels as well as sdist for progen. Same for project-generator-definitions.

When pip installs progen now, it will either complain about

    Using legacy 'setup.py install' for project-generator, since package 'wheel' is not installed.
    Using legacy 'setup.py install' for project-generator-definitions, since package 'wheel' is not installed.

or

    Building wheels for collect

[2021-03-22 13:05] jawi opened #487 "progen build --copy fails"
Running `progen --copy -t make_gcc_arm` fails:

[code]

While running without the `--copy` flag succeeds:

[code]

It appears that the `--copy` flag does not copy anything to the generated output directory.

[2021-03-31 09:10] PeterWang19860926 commented on #13
Is there any further update on this feature? supporting debug/release configure. I think this is a common feature when used with IDE: IAR, Keil etc

[2021-04-02 08:58] 0xc0170 commented on #487
Thanks for the report. I'll try to look at the issue in the following days.

[2021-04-02 08:59] 0xc0170 commented on #486
I'll fix the wheels, I have missed pushing in the recent releases

Start using it to describe the releases ? Or is there anything else we can improve?

[2021-04-05 17:40] 0xc0170 commented on #486
I released wheels for 0.9.17, 0.10.0 and 0.11.x releases.

I'll fix progen definitions now as well.

I created also 0.11.x releases on Github.

[2021-04-05 17:55] flit commented on #486
The comment about GitHub releases was so that, a) people see the latest release version when looking at the project, b) we can record release notes. Looks great, thanks!

[2021-04-05 17:55] #486 closed

[2021-04-07 09:17] Andy-1211 opened #488 "LD_SCRIPT_IN = []"
Hi.

When I used Makefile generated by "progen generate -f .\projects.yaml -t make_gcc_arm", it tells me the LD_SCRIPT_IN = [].
By the way, the yaml file is geberated by "progen init" form keil project, and I didn't modify anything.
Should I modify LD_SCRIPT_IN, or something else?

Thank you for taking time out of your busy schedule to answer my questions.

[2021-04-26 13:54] 0xc0170 commented on #488
if you run init, is there linker script? Can you check yaml files, if there is anywhere? Was it picked up?

[2021-04-26 13:55] 0xc0170 commented on #488
It should be created with https://github.com/project-generator/project_generator/blob/master/project_generator/init_yaml.py#L92 (if found).

init functionality is to speed up porting a new application. It is not 100 accurate from the experience. We added it to get the base for the project rather than handcrafting yaml files.

[2021-05-27 12:35] jsplyy opened #489 "Setting iar option 'GRuntimeLibSelect' state to 1 does not take effect"
Hi,

I want to define the option 'GRuntimeLibSelect' for iar as semihosted, which should be const value 1 in iar project xml state filed.
I try to define this option in record file, but it seems that it does not work.

![image](https://user-images.githubusercontent.com/3600912/119826668-d94a7800-bf2a-11eb-9b78-9289f6f45ba1.png)

[2021-06-02 15:00] 0xc0170 commented on #489
I transferred it to project generator issue tracker.

[2021-06-02 15:03] 0xc0170 commented on #489
This is the default template https://github.com/project-generator/project_generator/blob/master/project_generator/templates/iar.ewp#L74

[2021-06-15 08:15] 0xc0170 opened #490 "Move from Travis elsewhere"
Same as progen definitions, we need to find an alternative.

Their recent plans made it unavailable for open source projects like this one to run some free jobs. The credit system is one time thing that needs to be requested and takes some time to be granted. Not ideal, so I'll look at how to migrate it elsewhere where we can run our simple checks.

If any PR is created now, there is no travis job

[2021-06-19 08:13] heezes opened #491 "Vscode project generator"
Do you have any plans in adding support for vscode?
I have devised a method of generating vscode files after generating a project from progen yaml files but it would be nice to right-away generate the vscode env from progen

[2021-06-23 10:01] 0xc0170 commented on #491
Hi @heezes ,

I am maintaining project generator currently, do not have resources to do more.

Happy to help contributing to this project (if you want to add vscode generation).

[2021-11-04 14:57] #489 closed

[2021-11-04 14:58] 0xc0170 commented on #471
Closing as it's unclear if it's still an issue or not. Assuming the latter is the case here.

[2021-11-04 15:28] flit commented on #471
Oddly enough, I was just having trouble building DAPLink under Windows due to this issue (or at least an issue with Windows paths not being escaped). I tried with both versions of GNU Make for Windows: GNU Make 3.81 for Win32, and GNU Make 4.3 as installed by choco. But previously I was pretty certain I had been able to build DAPLink on Windows using one of those versions of make. No idea…

[2021-11-15 09:31] swordjjjkkk opened #495 "uv5 to yaml"
i wonder if exist project like uv5 can transfer to make-based project ?

[2021-11-15 19:31] 0xc0170 commented on #495
The uvision does not export. I don't know anything that could do it at the moment.

You could manually create one or use progen to get yaml files and manually fix the makefile.

I'll close this as it's not related to project generator.

[2021-11-15 19:31] #495 closed

[2022-02-05 13:20] knowledgejunkie opened #496 "Test suite and `progen list` failing (argument -f/--file: projects.yaml is not a file.)"
### Build Test Failures

I'm packaging project_generator 0.11.2 for Debian (testing with Python 3.9/3.10) and the test suite is failing on 3 TestListCommand tests.

These issues seem to be related to the recent changes in 86fcd76cb4fce7fd19881c83f79694bc466ccb7f

[code]

Example (trimmed) debug output from a test failure:

[code]

### Runtime Failures

I tested further and noticed that `progen lis

[2022-02-06 14:58] elfmimi opened #497 "Proper usage message output"
Executing `progen` without any arguments shows error message:

  File "/home/username/VENV/bin/progen", line 8, in <module>
    sys.exit(main())
  File "/home/username/VENV/lib/python3.9/site-packages/project_generator/__main__.py", line 70, in main
    return args.func(args)
AttributeError: 'Namespace' object has no attribute 'func'

I suppose something like this is required

[code]

before this

[2022-02-27 18:12] 0xc0170 commented on #497
Thanks for the report, Ill check

[2022-02-27 18:14] 0xc0170 commented on #496
Thanks for the report. I have to move to Gitlab CI the next week and I'll will address this.

[2022-02-27 20:03] 0xc0170 commented on #496
Got it. The commit

broke the test. The behavior was not correct in the test itself. I created #499 to address this.

[2022-02-27 20:04] 0xc0170 commented on #497
@elfmimi I am fixing some other errors today. Feel free to send a pull request, I'll review.

[2022-02-27 20:28] 0xc0170 commented on #496
@flit Commit 86fcd76cb4fce7fd19881c83f79694bc466ccb7f adds default to -f. But if we use `--all` argument, we want to check what progen supports, `-f` should not be required in that case. The tests started failing because of this. I would like to verify what is the intention there with default argument.

See PR #499 (it's draft, I'll clean the history tomorrow)

[2022-02-28 06:26] 0xc0170 commented on #496
#499 was merged, I am releasing a new version now to address this breakage. Closing as fixed.

[2022-02-28 06:26] #496 closed

[2022-02-28 06:27] 0xc0170 commented on #496
@knowledgejunkie appreciate the detailed report , it helped me to fix this quickly

[2022-02-28 06:43] 0xc0170 commented on #497
Fixed via #501

[2022-02-28 06:43] #497 closed

[2022-02-28 06:43] 0xc0170 commented on #496
0.11.3 released

[2022-02-28 08:10] 0xc0170 commented on #490
Done, Github actions active.

Good resource, I have to enable coveralls as well.

[2022-02-28 08:10] #490 closed

[2022-02-28 08:10] #481 closed

[2022-03-07 19:19] 0xc0170 commented on #133
I believe some tools implemented the log reporting. I'll close this and we rather create issues where this is missing

[2022-03-07 19:19] #133 closed

[2022-03-10 22:21] eleenest commented on #482
Just curious if this feature is still in the works.

Not urgent, but we did have a case where we wanted to apply flags to only some files (i.e. enable -Werror for files that have been cleaned up, so they stay clean).

Eric